<!--<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Inbound Recruiting</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="style.css"> 
    </head>
-->
    <div class="body">
        <div id="all">
            <div class="section1_inbound">
                <div class="container">
                </div>
            </div>

            <div class="section2_inbound">
                <div class="container">
                    <div class="btn">
                        <button type="button" [routerLink]="['/blog']" class="btn btn-title1">Retour au blog</button>
                    </div>
                    <div class="cont_article1">
                        <div class="lien1">
                                <a [routerLink]="['/inboundrecruiting']">Inbound Recruiting</a>
                        </div>
                        <h1>Social Recruiting et Social Selling Index :comment recruter efficacement ?</h1>
                        <div class="desc_ceo1">
                            <div class="img_ceo1">
                                <img src="assets/image/imgclaude1.jpeg" alt="imgclaude1.jpeg">
                            </div>
                            <div class="nom_ceo1">Claude AYISSI CEO et Fondateur chez LegionWeb</div>
                        </div>
                        <div class="text_art1">
                            <div>
                                <p>
                                    Le Social Recruiting s'est imposé comme une méthode efficace de recrutement sur les réseaux sociaux
                                    professionnels.  En quoo consiste-t-il exactement ? Et comment utiliser le Social Selling  index,  l'outil
                                    mis en place par LinkedIn,  à votre  avantage ? Nous revenons dans le détail sur ces éléments clés de votre stratégie de recrutement !
                                </p>
                                <h3>Le social Recruiting, qu'est-ce que c'est ?</h3>
                                <p class="def_art1">Définition</p>
                                <p>
                                    « Social Recruiting » se traduit littéralement par « Recrutement sur les réseaux sociaux ». Il désigne donc le fait,
                                    pour un recruteur, d'identifier et de contacter les candidats qui correspondent à ses exigences sur les réseaux sociaux.
                                    De par sa position dominante sur le marché des réseaux sociaux professionnels, LinkedIn  est le réseau social privilégié pour
                                    faire du Social recruiting, même si d'autres réseaux tels que Facebook ou Twitter peuvent être utilisés.  Un recruter peut donc
                                    observer le profil de nombreux candidats potentiels afin de sélectionner ceux qui semblent correspondre le mieux à son entreprise.
                                    Ilpeut ensuite engager directement une conversation avec les candidats qui l'intéressent,  ce qui a pour effet de  modifier le
                                    processus de recrutement en le rendant plus humain et moins formel.  Le social recruiting est de plus en plus populaire : 89% des
                                    recruteurs déclarent avoir déjà embauché quelqu'un  via LinkedIn  ( source : ‘‘ Best practices  in Social Recruiting,   Meisha Rouser) . 
                                </p>
                                <p class="def_art1">Une méthode efficace</p>
                                <p>
                                    Le Social recruiting permet donc aux recruteurs d'avoir une approche différente de candidats cibles,  d'atteindre les candidats
                                    moins actifs,  d’avoir une vision complète du profil du candidat en mettant à l'honneur ses Soft skills,  mais aussi d'aller chercher
                                    les candidats là où ils passent une bonne partie de leur temps : sur les réseaux sociaux.  C'est aussi l'occasion pour les recruteurs
                                    de mettre en valeur leur entreprise et de diffuser les valeurs et la mission de celle-ci.<br>
                                    Cependant, le social recruiting n'a pas forcément vocation à  remplacer les méthodes plus traditionnelles de recrutement
                                    ( publication d'annonces sur les jobs boards,  recueil et analyse de CVs…).  Le social recruiting peut être utilisé comme unique méthode
                                    de recrutement,  mais il est dans les faits souvent utilisé à côté des méthodes  plus classiques,  les deux étant considérées comme complémentaire 
                                </p>
                            </div>
                            <div>
                                <h3>A quoi sert le Social Selling Index ?</h3>
                                <p class="def_art1">Définition</p>
                                <p>
                                    Pour mesurer votre niveau d'influence  commerciale sur LinkedIn,  ce dernier a créé le Social Selling Index (SSI).
                                    Celle-ci est compris entre 0 et 100, mis à jour quotidiennement et mesurer votre capacité à :
                                </p>
                                <div>
                                    <ul>
                                        <li>Étendre votre présence et votre marque professionnelle : il s'agit d’avoir un profil riche et complet, ainsi que de partager des articles intéressants et fiables </li>
                                        <li>Trouver les bonnes personnes : identifier les meilleurs prospects, adhérer à  des groupes</li>
                                        <li>Communiquer les bonnes informations : lire et partager des articles pertinents qui suscitent de l'engagement et permettent de créer des relations</li>
                                        <li>Etablir des relations :<br>
                                            Renforcer son réseau,  trouver les décideurs des domaines qui vous intéressent.<br> 
                                            Le social Selling index a été créé pour les commerciaux qui ont mis en place une stratégie de vente sur les réseaux sociaux ( Social Selling). Sur<br>
                                            LinkedIn,  le social Selling permet de communiquer sur les activités de son entreprise,  de  détecter les opportunités et les profils adaptés
                                            afin de transformer une vente. 
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <h2>Social selling index et le Social recruiting</h2>
                                <p>
                                    Cependant, le Social Selling Index peut se révéler utile même si l'on ne souhaite pas mettre en place une stratégie de Social selling, et ce particulièrement dans le cas des recruteurs.
                                    En effet, il s'adapte très bien au social recruiting ; le social selling index  devient un outil pour mesurer votre efficacité à : 
                                </p>
                                <ul>
                                    <li>Communiquer sur votre entreprise</li>
                                    <li>Partager des articles et d’autres ressources qui se révèleront utiles ou pertinents vos candidats</li>
                                    <li>Identifier les profils les plus pertinents</li>
                                    <li>Créer un réseau solide qui vous permettra de cibler vos futurs collaborateurs</li>
                                </ul>
                                <p>Cet index vous offre aussi la possibilité de vous comparer aux autres professionnels de votre secteur ainsi qu'au reste de votre réseau.</p>
                            </div>
                            <div>
                                <h2>Inbound recruiting et social recruiting </h2>
                                <p class="def_art1">Définition</p>
                                <p>
                                    De la même manière que l'inbound marketing propose d'attirer des prospects vers votre entreprise notamment en leur proposant du contenu qui leur
                                    apporte de la valeur ; l’inbound recruiting vise à attirer les candidats qui possèdent un profil pertinent pour votre entreprise. La mise en place
                                    d'une stratégie d'inbound recruiting est un processus global dans lequel l'image que renvoie votre entreprise joue un rôle majeur.<br>
                                    Il faut donc mettre en place une marque employeur forte, et faire attention aux retours des employés ou tout autre personne ayant travaillé
                                    avec votre entreprise : faire régulièrement le tour des avis laissés sur des forums ou autres site web, et surtout sur les réseaux sociaux,
                                    valoriser les critiques positives et répondre aux critiques négatives…<br>
                                    Tout comme l’inbound marketing, la création de contenu pertinent et propre aux valeurs de votre entreprise est capital dans une démarche d’inbound
                                    recruiting, pour attirer à vous les candidats qui se reconnaissent dans votre entreprise.    
                                </p>
                            </div>
                            <div>
                                <h2>L’inbound recruiting sur les réseaux sociaux</h2>
                                <p>
                                    Les réseaux sociaux professionnels, LinkedIn en tête, sont des plateformes idéales pour mettre en place des actions d’inbound recruiting.
                                    LinkedIn est en effet un moyen efficace de partager les contenus de votre entreprise, afin de faire réagir les potentiels candidats,
                                    et donc de mettre en place naturellement un échange.  
                                </p>
                                <p>
                                    De plus, en étoffant votre réseau, vous serez plus à même d’avoir de la portée et d’atteindre les candidats les plus pertinents.
                                    En partageant du contenu sur l'actualité de votre secteur, ou bien les solutions que votre entreprise propose, vous entretenez
                                    des relations précieuses que vous pourrez mobilisee au moment opportun.<br>
                                    Le profil du recruteur est aussi à mettre en valeur : il doit être complet et attractif. N'hesitez pas à demander des recommandations à vos collègues
                                    et listez vos compétences, afin d'apparaître comme un profil sérieux et d'asseoir votre crédibilité. 
                                </p>
                            </div>
                            <p>Pour en savoir plus sur notre approche, consultez notre guide;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
<!-- </html> -->