<div id="banner">
    <!-------banner section-------->
<div class="container">
 <div class="row">
     <div class="col-md-6">
       <p class="title1">
           BEST DIGITAL AGENCY
       </p>   
       <p>Subcribe Easy tutorials Youtube to match</p>
       <a href="#"><!--<img src="assets/image/tn_logo1.JPG" class="play-btn">-->Watch tutorials</a> 
    </div> 
     <div class="col-md-6" text-center>
           <img src="assets/image/grpe1.png" class="img-fluid imgbanner"/>
     </div>
 
 </div> 
</div>
<!--<img src="assets/image/" class="bottom-img"/>-->
<!------Services Section------------->
<div id="services">
    <div class="container text-center">
        <h1 class="title">What we Do?</h1>
        <div class="row text-center">
            <div class="cont-serrvices col-md-4">
                <div class="services">
                     <img src="assets/image/tn_service11.png"classe="service-img">
                    <h4>Growth Marke</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores totam architecto, placeat rerum fugiat explicabo ipsum, rem minus accusantium eos, vero possimus sequi vel dolorum adipisci
                        minima. Iste, Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi necessitatibus dolorum nemo quae unde eum ipsam quidem facilis placeat ad nihil maxime, officiis, laborum cupiditate repellendus expedita
                         excepturi inventore blanditiis. expedita nisi?
                    </p>
                </div>
            </div>
            <div class="cont-serrvices col-md-4">
                <div class="services">
                    <img src="assets/image/service2.jpg"classe="service-img">
                    <h4>Online Branding</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores totam architecto, placeat rerum fugiat explicabo ipsum, rem minus accusantium eos, vero possimus sequi vel dolorum adipisci
                        minima. Iste, Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi necessitatibus dolorum nemo quae unde eum ipsam quidem facilis placeat ad nihil maxime, officiis, laborum cupiditate repellendus expedita
                        excepturi inventore blanditiis. expedita nisi?
                    </p>
                    <button type="button" class="btn btn-primary"> All services </button>
                </div>
            </div>
            <div class="cont-serrvices col-md-4">
                <div class="services">
                <img src="assets/image/service3.jpg"class="service-img">
                <h4>Animated Ads</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores totam architecto, placeat rerum fugiat explicabo ipsum, rem minus accusantium eos, vero possimus sequi vel dolorum adipisci
                    minima. Iste, Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi necessitatibus dolorum nemo quae unde eum ipsam quidem facilis placeat ad nihil maxime, officiis, laborum cupiditate repellendus expedita
                    excepturi inventore blanditiis. expedita nisi?
                </p>
            </div>
</div>
</div>
</div>

