/*---------Banner Section---------*/
#banner{
    background-image: linear-gradient(to right, #FFF,#f8f8f8);
    color:#000;
    padding-top:5%;
}
.title1{
    font-size: 40px;
    font-weight: 600px;
    margin-top:100px;
}
.play-btn{
    width:45px;
    margin: 20px;
}
#banner a{
    color: #000;
    text-decoration: none;
}
.bottom-img{
    width: 100%;
}
.imgbanner{
    display: flex;
    align-self: end;
}
/*---------Services---------*/
#services{
    padding:80px 0;
    background-color: #FFF;
    color: black;
}
.service-img{
    max-width: 30px;
    max-height: 3S0px;
    margin-top: 20px;
}
.cont-services{
   display: inline-block;
    max-width: 15%;
    max-height:15%;
    background-color:#f2f2f2;
    margin:5px;
    word-wrap: break-word;
}
.services{
    height:80%;
    overflow:hidden;
    margin:auto;
    padding:10px;
    border-style: outset;
    text-align: justify;
}
.services h4{
    padding:5px;
    margin-top:25px;
    text-transform: uppercase;
} 
.title::before{
    content:'';
    background:#868686;
    height: 5px;
    width:200px;
    margin-left:auto;
    margin-right: auto;
    display:block;
    transform: translateY(63px);

}
.title::after{
    content:'';
    background:#113D0F;
    height: 10px;
    width:50px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom:40px;
    display:block;
    transform: translateY(8px);
      

}
#services .btn-primary{
    box-shadow: none;
    padding:8px 25px;
    border:none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #1b2c19,#113D0F);
} 