
/***********************************************elements principaux de la page*************************************************************/
.body
{
    padding: 0;
    margin: 0;
    font-family:"SourceSansPro-Regular SourceSansPro-Bold";
    font-weight: bold;
}
.container
{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
/******************************************transformation digital****************************************/
.section1_transformation
{
    background: url(../../../assets/image/imgcontact.png) no-repeat; 
    background-size: 100%;
    padding: 180px;
}
h1,h2,h3
{
      font-weight: bold;
      color: #040e47;
}
.section2_transformation
{
    max-width: 70%;
    background: #fff;
    box-shadow: 0 3px 3px #dbe3ea;
    margin: 0 auto;
    padding: 100px;
    margin-top: -115px;
    margin-bottom: 100px;
    color: #3b4654;
}
.btn-title6
{
    background-image: linear-gradient(to right,#233688,#5e86db);
    color: #fff;
    font-family: 'LatoBold',sans-serif;
    padding: 11px 20px 11px 44px;
    margin: -320px 0px 0px -130px;
}
.btn-title6:hover
{
    color: #fff;
}
.section2_transformation .cont_article6 .lien6
{
    margin: -105px 0px 50px -80px;
}
.section2_transformation .cont_article6 .lien6 a
{
    text-decoration: none;
    color: #D8A24A;
}
.section2_transformation .cont_article6 .lien6 a:hover
{
    color: #dbe3ea;
}
.section2_transformation .cont_article6 h1
{
    color: #040e47;
    font-size: 50px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
}
.section2_transformation .cont_article6 h2
{
    text-align: center;
}
.section2_transformation .cont_article6 .desc_ceo6
{
    margin: 80px 0px 50px 0px;
}
.section2_transformation .cont_article6 .img_ceo6 img
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.section2_transformation .cont_article6 .img_ceo6
{
    display: inline-block;
}
.section2_transformation .cont_article6 .nom_ceo6
{
    display: inline-block;
    color: #233688;
    margin-left: 10px;
    align-self: center;
}
.section2_transformation .cont_article6 .text_art6
{
    display: inline-block;
}
/*************************************************Responsive********************************************/
    @media screen and(max-width: 992px)
    {
        .section2_transformation h1
        {
            padding-top: 50px;
        }
        .section2_transformation
        {
            padding: inherit;
            padding-bottom: 50px;
        }
        .section2_transformation .lien6
        {
            margin: inherit !important;
        }
        .btn-title6
        {
            margin: -130px 0px 0px -25px;
        }
    }

    @media screen and(max-width: 767px)
    {
        .section2_transformation
        {
            padding: inherit;
            max-width: 70%;
            padding-bottom: 50px;
        }
        .section2_transformation .lien6
        {
            margin: -105px 0px 50px 30px !important;
        }
        .btn-title6
        {
            margin: -250px 0px 0px -25px;
        }
        .section2_transformation h1
        {
            max-width: inherit;
            padding: inherit;
            padding-top: 50px;
            padding-bottom: 20px;
            font-size: 30px !important;
            line-height: 30px !important;
        }
        .section2_transformation .cont_article6 h2 
        {
            padding-bottom: 40px;
            font-size: 25px;
        }
        .section2_transformation .desc_ceo6
        {
            margin: inherit !important;
        }
        .section2_transformation .cont_article6 .nom_ceo6
        {
            display: inline-block;
            margin-left: 70px;
            margin-top: -50px;
            margin-bottom: 40px;
        }
    }