<div class="container-fluid">
    <div class="row allnew">
        <div class="col-md-4 col-sm-6 col-12 contnew">
            <div class="newcont" style="background-color: white;">
                <div style="padding:10px; background-image: linear-gradient(to bottom, #27DEBF, #FFFFFF);">
                    <h2> La newsletter <br> VISION </h2>
                </div>
                <img src="assets/image/newsim1.jpg" class="img-fluid img-responsive imgbanner" />
                <p>
                    Recevez les éclairages de notre Leader team et gardez un temps d'avance sur vos concurrents.
                    <br>
                    <br>
                </p>
                <div *ngIf="vision">
                    <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="was-validated">
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control" ngModel required>
                            <label for="email">Votre adresse email*</label>
                            <div style="margin:0;" class="valid-feedback">Valid.</div>
                            <div style="margin:0;" class="invalid-feedback">veuillez remplir ce champ.</div>
                        </div>
                        <p style="font-size:0.7em; text-align: justify;">
                            La protection des données nous tient à coeur. LegionWeb utilise les informations que vous fournissez afin de vous proposer les informations et du contenu pertinent sur nos services. Vous pouvez vous désinscrire.pour plus d'informations, consulter notre
                            <a>politique de 
                                confidentialité.</a>
                        </p>
                        <div class="row">
                            <mat-spinner style="widht:50%; margin:auto;" *ngIf="loading"></mat-spinner>
                            <button class="btn btn-primary" *ngIf="!loading" id="vision" (click)="affecter_vision()" type="submit" [disabled]="f.invalid">
                                    Soumettre
                            </button>

                        </div>
                        <br>
                    </form>
                </div>
                <div style="width:60%; margin:auto;" *ngIf="feedbackvision" id="feedback">
                    <p *ngIf="success===2" style="color:green;font-style:italic;font-weight:bold;">Abonnement VISION effectué avec succès</p>
                    <p *ngIf="success===3" style="color:red;font-style:italic;font-weight:bold;">Echec d'Abonnement veuillez réessayer</p>
                </div>
                <button type="button" *ngIf="!vision" (click)="afficher_vision()" class="btn btn-primary"> S'ABONNER</button>

            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12 contnew">
            <div class="newcont" style="background-color: white;">
                <div style=" padding:10px; background-image: linear-gradient(to bottom, #2889FF, #FFFFFF);">
                    <h2> La newsletter <br> TIPS </h2>
                </div>
                <img src="assets/image/newsim2.jpg" class="img-fluid img-responsive imgbanner" />
                <p>
                    Des conseils pratiques, tutoriels et outils pour mieux réaliser vos campagnes marketing.
                    <br>
                    <br>
                </p>
                <div *ngIf="tips">
                    <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="was-validated">
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control" ngModel required>
                            <label for="email">Votre adresse email*</label>
                            <div style="margin:0;" class="valid-feedback">Valid.</div>
                            <div style="margin:0;" class="invalid-feedback">veuillez remplir ce champ.</div>
                        </div>
                        <p style="font-size:0.7em; text-align: justify;">
                            La protection des données nous tient à coeur. LegionWeb utilise les informations que vous fournissez afin de vous proposer les informations et du contenu pertinent sur nos services. Vous pouvez vous désinscrire.pour plus d'informations, consulter notre
                            <a>politique de 
                                confidentialité.</a>
                        </p>
                        <div class="row">
                            <mat-spinner style="widht:50%; margin:auto;" *ngIf="loading"></mat-spinner>
                            <button class="btn btn-primary" *ngIf="!loading" (click)="affecter_tips()" type="submit" [disabled]="f.invalid">
                                    Soumettre
                            </button>
                        </div>
                        <br>
                    </form>
                </div>
                <div style="width:60%; margin:auto;" *ngIf="feedbacktips" id="feedback">
                    <p *ngIf="success===2" style="color:green;font-style:italic;font-weight:bold;">Abonnement TIPS effectué avec succès</p>
                    <p *ngIf="success===3" style="color:red;font-style:italic;font-weight:bold;">Echec d'Abonnement veuillez réessayer</p>
                </div>
                <button type="button" *ngIf="!tips" (click)="afficher_tips()" class="btn btn-primary"> S'ABONNER</button>

            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12 contnew">
            <div class="newcont" style="background-color: white;">
                <div style=" padding:10px; background-image: linear-gradient(to bottom, #BFA8D2, #FFFFFF);">
                    <h2> La newsletter <br> STRATEGIE </h2>
                </div>
                <img src="assets/image/newsim3.jpg" class="img-fluid img-responsive imgnews" />
                <p>
                    Nos articles incontournables sur la stratégie et l'exécution. Affinez vos campagnes et atteignez vos objectifs.
                </p>
                <div *ngIf="strategie">
                    <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="was-validated">
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control" ngModel required>
                            <label for="email">Votre adresse email*</label>
                            <div style="margin:0;" class="valid-feedback">Valid.</div>
                            <div style="margin:0;" class="invalid-feedback">veuillez remplir ce champ.</div>
                        </div>
                        <p style="font-size:0.7em; text-align: justify;">
                            La protection des données nous tient à coeur. LegionWeb utilise les informations que vous fournissez afin de vous proposer les informations et du contenu pertinent sur nos services. Vous pouvez vous désinscrire.pour plus d'informations, consulter notre
                            <a>politique de 
                                confidentialité.</a>
                        </p>
                        <div class="row">
                            <mat-spinner style="widht:50%; margin:auto;" *ngIf="loading"></mat-spinner>
                            <button class="btn btn-primary" *ngIf="!loading" (click)="affecter_strategie()" type="submit" [disabled]="f.invalid">
                                    Soumettre
                            </button>
                        </div>
                        <br>
                    </form>
                </div>
                <div style="width:60%; margin:auto;" *ngIf="feedbackstrategie" id="feedback">
                    <p *ngIf="success===2" style="color:green;font-style:italic;font-weight:bold;">Abonnement STRATEGIE effectué avec succès</p>
                    <p *ngIf="success===3" style="color:red;font-style:italic;font-weight:bold;">Echec d'Abonnement veuillez réessayer</p>
                </div>
                <button type="button" *ngIf="!strategie" (click)="afficher_strategie()" class="btn btn-primary"> S'ABONNER</button>
            </div>
        </div>

    </div>
</div>