<div class="container-fluid">
    <div class="row allnew">
        <div class="col-md-4 newcont" style="background-color:#FFFFFF;">
            <div style="padding:10px; background-image: linear-gradient(to bottom, #27DEBF, #FFFFFF);">
                <h2> La newsletter <br> VISION </h2>
            </div>
            <img src="assets/image/newsim1.jpg" class="img-fluid img-responsive imgbanner" />
            <p>
                Recevez les éclairages de notre Leader team et gardez un temps d'avance sur vos concurrents.
            </p>
            <button type="button" class="btn btn-primary"> S'ABONNER</button>

        </div>
        <div class="col-md-4 newcont" style="background-color:#FFFFFF;">
            <div style=" padding:10px; background-image: linear-gradient(to bottom, #2889FF, #FFFFFF);">
                <h2> La newsletter <br> TIPS </h2>
            </div>
            <img src="assets/image/newsim2.jpg" class="img-fluid img-responsive imgbanner" />
            <p>
                Des conseils pratiques, tutoriels et outils pour mieux réaliser vos campagnes marketing.
            </p>
            <button type="button" class="btn btn-primary"> S'ABONNER</button>
        </div>
        <div class="col-md-4 newcont" style="background-color:#FFFFFF;">
            <div style=" padding:10px; background-image: linear-gradient(to bottom, #BFA8D2, #FFFFFF);">
                <h2> La newsletter <br> STRATEGIE </h2>
            </div>
            <img src="assets/image/newsim3.jpg" class="img-fluid img-responsive imgnews" />
            <p>
                Nos articles incontournables sur la stratégie et l'exécution. Affinez vos campagnes et atteignez vos objectifs.
            </p>
            <button type="button" class="btn btn-primary"> S'ABONNER</button>
        </div>
    </div>
</div>