<!-------banner section-------->
<div id="banner" class="container-fluid d-none d-sm-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 container-fluid">
                <!--<h1 class="container">
                    <b>AMELIOREZ VOS <br>PERFORMANCES <br>DIGITALES</b>
                </h1>-->
                <br><br><br><br> <br> <br> <br> <br> <br> <br> <br> <br> <br><br><br><br>
                <div class="d-sm-none">
                    <br><br><br><br>
                </div>
                <div style="display:flex;">
                    <div class="trait1">
                    </div>
                    <p style="width:50%; text-align:center;">Les entreprises qui génèrent une croissance forte et durable ne misent pas sur le hasard

                    </p>
                </div>
                <button type="button" (click)="scrol('discuterho')" style="margin-left:5%;" class="commencer btn btn-primary"> Commencez maintenant</button>
            </div>
            <div class="col-md-4 container d-none d-md-block" text-center>
                <img src="assets/image/bann4.png" class="img-fluid img-responsive imgbanner" />
            </div>
        </div>
    </div>
</div>
<div class="d-sm-none">
    <div id="bannerphone" class="container-fluid containerbannerphone ">
        <svg class="loader " xmlns="http://www.w3.org/2000/svg " viewBox="0 0 370 370">
                <g id="UrTavla">
                    <circle fill="#CAA64D " cx="170 " cy="170 " r="175 " stroke="#101564"/>
                    <circle fill="white " cx="170 " cy="170 " r="170 " stroke="white"/>
                    <circle fill="#E8C379 " cx="170 " cy="170 " r="165 " stroke="black"/>
                    <text x="45% " y="30% " font-size="30 " text-anchor="middle " stroke="#101564 " stroke-width="2px " dy="1em ">AMELIOREZ VOS</text>
                    <text x="45% " y="45% " font-size="30 " text-anchor="middle " stroke="#101564 " stroke-width="2px " dy="1em "> PERFORMANCES</text>
                    <text x="45% " y="60% " font-size="30 " text-anchor="middle " stroke="#101564 " stroke-width="2px " dy="1em ">DIGITALES</text>
                </g>
            </svg>
        <div style="display:flex;">
            <div class="trait1">
            </div>
            <p style="width:90%; text-align:center; font-weight: bold;">Les entreprises qui génèrent une croissance forte et durable ne misent pas sur le hasard

            </p>
        </div>
        <button type="button" (click)="scrol('discuterho')" style="margin-left:5%; height:70px;" class="btn btn-primary"> Commencez maintenant</button>

    </div>


</div>

<!--<img src="assets/image/ " class="bottom-img "/>-->
<!------Services Section------------->
<div id="services">
    <div class="container-fluid text-center ">
        <h1 class="title ">Méthode</h1>
        <p class="col-md-6 afterservices ">
            Notre méthode repose sur 4 éléments indispensables que les entreprises qui génèrent de la croissance forte et durable doivent maitriser.
        </p>

        <div class="row ">
            <div (click)="redirect( 'service/plandevol') " class=" col-md-3 col-sm-6 contservice ">
                <div class="colservices ">
                    <div class="services ">
                        <img src="assets/image/image 3.png ">
                        <h4>Strategy</h4>
                        <p>
                            Personna- Storytelling - Customer lifecycle - Internal processes -SMART goals
                        </p>
                    </div>
                </div>
            </div>
            <div (click)="redirect( 'service/entonnoir') " class=" col-md-3 col-sm-6 contservice ">
                <div class="colservices ">
                    <div class="services ">
                        <img src="assets/image/image 2.png ">
                        <h4>Conversion Funnel</h4>
                        <p>
                            Inbound Marketing- Sites Web - Landing pages - Marketing Automation - Sales Enablement
                        </p>
                    </div>
                </div>
            </div>


            <div (click)="redirect( 'service/acquisition') " class="col-md-3 col-sm-6 contservice ">
                <div class="colservices ">
                    <div class="services ">
                        <img src="assets/image/image 4.png ">
                        <h4>Lead Acquisition</h4>
                        <p>
                            SEO - SEA - Content Marketing - Social Media & Ads - Mailing Growth hacking
                        </p>
                    </div>
                </div>
            </div>
            <div (click)="redirect( 'service/pilotage') " class="col-md-3 col-sm-6 contservice ">
                <div class="colservices ">
                    <div class="services ">
                        <img src="assets/image/image 5.png ">
                        <h4>Piloting</h4>
                        <p>
                            CRM - Dashboard -Business Intelligence - Recruitement - Employer brand
                        </p>
                    </div>
                </div>
            </div>


        </div>
        <p class=" d-none d-sm-block col-6 afterservices " style="text-align: justify;">
            Nous aidons les entreprises à améliorer leur visibilité par le digital à générer des vues et des opportunités d'affaires.
        </p>
        <p class="d-sm-none col-12 afterservices " style="text-align: justify;">
            Nous aidons les entreprises à améliorer leur visibilité par le digital à générer des vues et des opportunités d'affaires.
        </p>
        <button type="button " (click)="scrol( 'discuterho') " class="btn btn-primary "> On peut vous aider ?</button>
    </div>
    <div class="client ">

        <div style="display:flex ">
            <div class="trait1 ">
            </div>
            <h2>Nos clients</h2>
        </div>
        <br>
        <app-client></app-client>
    </div>
    <div class="parlent ">
        <app-parlentdenous></app-parlentdenous>
    </div>
    <div class="mobile newsletter ">
        <div class="d-sm-none">
            <br>
        </div>
        <div style="display:flex ">
            <div class="trait1 ">
            </div>
            <h2>Recevez votre newsletter personnalisée</h2>
        </div>
        <app-newsletter></app-newsletter>
    </div>
    <div class="mobile discuter " id="discuterho">
        <app-discuter></app-discuter>
    </div>
</div>