<!-------banner section-------->
<div id="banner" class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 container-fluid">
                <h1 class="container">
                    <b>AMELIOREZ VOS <br>PERFORMANCES <br>DIGITALES</b>
                </h1>
                <br><br><br><br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

                <div style="display:flex;">
                    <div class="trait1">
                    </div>
                    <p>Nous fournissons des solutions
                        <br> numériques pour la croissance <br>des entreprises

                    </p>
                </div>
                <br><br>

                <button type="button" class="nav-link" routerLink="home/discuter" style="margin-left:5%;" class="btn btn-primary"> Commencez maintenant</button>

            </div>
            <div class="col-md-4 container" text-center>
                <img src="assets/image/bann4.png" class="img-fluid img-responsive imgbanner" />
            </div>
        </div>
    </div>
</div>
<!--<img src="assets/image/" class="bottom-img"/>-->
<!------Services Section------------->
<div id="services">
    <div class="container-fluid text-center">
        <h1 class="title">Méthode</h1>
        <p class="col-md-6 afterservices">
            Notre méthode repose sur 4 éléments indispensables que les entreprises qui génèrent de la croissance forte et durable doivent maitriser.
        </p>

        <div class="row ">
            <div class=" col-md-3 col-sm-6 contservice">
                <div class="colservices">
                    <div class="services">
                        <img src="assets/image/Droomvlucht-logo-small.jpg">
                        <h4>Strategi</h4>
                        <p>
                            Personna- Storytelling - Customer lifecycle - Internal processes -SMART goals
                        </p>
                    </div>
                </div>
            </div>
            <div class=" col-md-3 col-sm-6 contservice">
                <div class="colservices">
                    <div class="services">
                        <img src="assets/image/service2.jpg">
                        <h4>Conversion Funnel</h4>
                        <p>
                            Inbound Marketing- Sites Web - Landing pages - Marketing Automation - Sales Enablement
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-sm-6 contservice">
                <div class="colservices">
                    <div class="services">
                        <img src="assets/image/Droomvlucht-logo-small.jpg">
                        <h4>Lead Acquisition</h4>
                        <p>
                            SEO - SEA - Content Marketing - Social Media & Ads - Mailing Growth hacking
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 ">
                <div class="colservices">
                    <div class="services">
                        <img src="assets/image/Droomvlucht-logo-small.jpg">
                        <h4>Piloting</h4>
                        <p>
                            CRM - Dashboard -Business Intelligence - Recruitement - Employer brand
                        </p>
                    </div>
                </div>
            </div>


        </div>
        <p class=" col-6 afterservices">
            Nous aidons les entreprises à améliorer leur visibilité par le digital à générer des vues et des opportunités d'affaires.
        </p>
        <button type="button" class="btn btn-primary"> On peut vous aider ?</button>
    </div>
    <div class="client">

        <div style="display:flex">
            <div class="trait1">
            </div>
            <h2>Nos clients</h2>
        </div>
        <br>
        <app-client></app-client>
    </div>
    <div class="parlent">
        <app-parlentdenous></app-parlentdenous>
    </div>
    <div class="newsletter">

        <div style="display:flex">
            <div class="trait1">
            </div>
            <h2>Recevez votre newsletter personnalisée</h2>
        </div>
        <br>
        <app-newsletter></app-newsletter>
    </div>
    <div class="discuter">
        <app-discuter></app-discuter>
    </div>