/*---------Banner Section---------*/

#banner {
    width: 100%;
    position: relative;
    color: #f2f2f2;
    background-color: #0c0456;
    background: url(../../../assets/image/banner9.png) no-repeat top center scroll;
    //height: 5%;
    min-height: 650px;
    margin: 0;
    padding: 0;
}

#banner h1 {
    position: absolute;
    top: 40%;
    left: 25%;
    line-height: 1.3em;
    color: #0c0456;
    font-size: 1.7em;
    text-align: center;
}

#banner li {
    color: white;
    font-size: 0.9em;
    text-align: center;
}

#banner p {
    color: #0c0456;
    font-size: 1.5em;
    text-align: left;
}

#banner a {
    color: #0c0456;
    text-decoration: none;
}

.bottom-img {
    width: 100%;
}

.imgbanner {
    display: flex;
    align-self: end;
    padding: 10% 0 0 10%;
}

.trait1 {
    display: flex;
    align-self: start;
    transform: translateY(16px);
    width: 33px;
    height: 4px;
    background: #0A1F5E;
    margin-right: 1px;
    //border-radius: 50px;
}


/*---------Services---------*/

#services {
    margin: 0;
    padding: 0;
    //background-image: linear-gradient(to bottom,  #fff,#f5f5f5);
    background-image: linear-gradient(to bottom, #FAF7F2, #FAF7F2);
    //background-image: linear-gradient(to right, #FE6F5F, #f5f5f5);
    color: #0c0456;
    //margin:2% 0 2% 0;
}

h1 {
    margin: 0;
    padding: 0;
    color: #0c0456;
}

.contservice {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.colservices {
    min-height: 350px;
    max-width: 225px;
    min-width: 200px;
    border: solid #D8A24A 3px;
    border-style: outset;
    margin: 2% 15px 0 0;
    padding: 0;
}

.colservices img {
    display: flex;
    width: 90%;
    height: 40%;
    margin: auto;
}

.colservices p {
    display: flex;
    align-self: start;
    width: 90%;
    margin: auto;
    text-align: center;
}

.colservices h4 {
    color: #0c0456;
    margin: 5%;
    text-align: center;
}

.services {
    height: 90%;
    margin: auto;
    padding: 20px;
    text-align: justify;
}

.title {
    display: block;
    margin: 0;
    padding: 0;
}

.title::before {
    content: '';
    background-image: linear-gradient(to right, #F2C270, #F2C270);
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.title::after {
    content: '';
    background: #D8A24A;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

.btn-primary {
    height: 11%;
    margin-top: 1%;
    box-shadow: none;
    padding: 8px 25px;
    //border:none;
    //border-radius: 20px;
}

.afterservices {
    width: 80%;
    margin: auto;
    align-self: center;
    margin-top: 5%;
}