#Navbar {
    background-image: linear-gradient(to right, #F9F7F2, #F9F7F2);
    //background: url(../../../assets/image/imagehead.jpg) repeat-x top center scroll;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 80px;
    top: 0;
}

.navbar img {
    position: relative;
    top: 2px;
    display: flex;
    height: 85%;
    align-self: center;
    padding: 0;
}

.navbar-brand {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    height: 73px;
    margin: 0 25% 0 0;
}

#navbarNav {
    height: 82px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbarli {
    display: flex;
    align-self: center;
    padding: 0;
    height: 61px;
    font-size: 1.1em;
    margin: 0 10% 0 0;
}

.navbarli .nav-link {
    display: block;
    padding-top: 15px;
    height: 100%;
    width: 100%;
    color: #0A1F5E;
    font-weight: bold;
}

.fa-bars {
    color: #0A1F5E;
    font-size: 30px;
}

.deroulerservice {
    display: flex;
    height: 70%;
    background: white;
    color: #2c344b;
}

.deroulerservice:hover {
    background: #E9ECEF;
}

.deroulerservice img {
    display: flex;
    height: 100px;
    width: 100px;
}

.active {
    border-bottom: solid #4D9AD5 3px;
}

.arr:hover {
    background-image: linear-gradient(to bottom, #F7C270, #CAA64D);
}

.dropdown:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom, #F7C270, #CAA64D);
}

.dropdown-menu {
    z-index: 99999;
    position: relative;
    font-size: 0.8em;
    left: -100px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
}