<nav class="navbar navbar-expand-lg  navbar-light">
    <a class="navbar-brand" [routerLinkActive]="['home']"><img src="assets/image/logosite.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="home" [routerLinkActive]="['active']">HOME</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    SERVICES
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="dropdown-item deroulerservice">
                        <a routerLink="service/plandevol"><img src="assets/image/imgplanvol.png"> </a>
                        <a routerLink="service/plandevol" [routerLinkActive]="['service']"><b>Plan de Vol</b><br><br>Persona - Storytelling - Cycle de vie<br>
                                       Client - Process internes - Objectifs <br> SMART
                        </a>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-item deroulerservice">
                        <a routerLink="service/entonnoir"><img src="assets/image/imgentonnoir.png"></a>
                        <a routerLink="service/entonnoir" [routerLinkActive]="['service']"><b>Etonnoir de conversation</b><br><br>
                                         inbound Marketing - Site Web -<br> Landing pages - Marketing <br>Automation 
                                         - Sales Enablement
                        </a>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-item  deroulerservice">
                        <a routerLink="service/acquisition"><img src="assets/image/imgacquisition.png"></a>
                        <a routerLink="service/acquisition" [routerLinkActive]="['service']"><b>Acquisition</b> <br><br> SEO - SEA - Content Marketing - Social <br>
                                         Media & Ads - eMailing - Growth hacking<br>
                        </a>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-item  deroulerservice">
                        <a routerLink="service/pilotage"><img src="assets/image/imgpilotage.png"></a>
                        <a routerLink="service/pilotage" [routerLinkActive]="['service']"><b>Pilotage</b> <br><br> CRM - Tableau de bord - BI -<br> 
                                         Recrutement - Marque employeur
                        </a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="equipe" [routerLinkActive]="[ 'active'] ">EQUIPE</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="blog" [routerLinkActive]="['active']">BLOG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="contact" [routerLinkActive]="[ 'active'] ">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>