#Navbar {
    background-image: linear-gradient(to right, #F9F7F2, #F9F7F2);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    z-index: 9999999;
}

.navbar img {
    position: relative;
    top: 2px;
    display: flex;
    height: 85%;
    align-self: center;
    padding: 0;
    margin: 0 100px 0 0;
}

.navbar-brand {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    height: 73px;
}

#navbarNav {
    height: 82px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbarli {
    display: flex;
    align-self: center;
    padding: 0;
    height: 82px;
    font-size: 1.1em;
    margin: 0 10% 0 0;
}

.navbarli a {
    display: block;
    padding-top: 30px;
    height: 100%;
    width: 100%;
    color: #0A1F5E;
    font-weight: bold;
}

.fa-bars {
    color: #0A1F5E;
    font-size: 30px;
}

.deroulerservice {
    display: flex;
    height: 70%;
    background-image: linear-gradient(to right, #F9F7F2, #F9F7F2);
    color: #0A1F5E;
}

.active {
    border-bottom: solid #4D9AD5 3px;
}

.navbarli :hover {
    background-image: linear-gradient(to bottom, #F7C270, #CAA64D);
}