//.navbar {
//background: #050C4A;
//color: #050C4A;
//}
.navbar-brand img {
    position: relative;
    top: 2px;
    display: flex;
    height: 70px;
    align-self: center;
    padding: 0;
}

.navbar-nav li .nav-link {
    color: #050C4A;
    font-weight: bold;
}

.navbar-brand {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    max-width: 50px;
    max-height: 150px;
    margin: 0 35% 0 0;
}

#navbarNav {
    height: 82px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbarli .nav-link {
    display: block;
    padding-top: 15px;
    height: 100%;
    width: 100%;
    font-weight: bold;
}

.fa-bars {
    color: #F7C270;
    font-size: 30px;
}

.deroulerservice {
    display: flex;
    //width: 82%;
    margin: auto;
    height: 70%;
    background: white;
}

.deroulerservice a {
    font-size: 0.9em;
    color: #050C4A;
}

.deroulerservice:hover {
    background: #E9ECEF;
}

.deroulerservice img {
    display: flex;
    height: 100px;
    width: 100px;
}

.active {
    border-bottom: solid #4D9AD5 3px;
}

.nav-item {
    margin: 0 5% 0 5%;
}

.nav-item:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom, #F7C270, #CAA64D);
}

.dropdown-menu {
    z-index: 99999;
    position: relative;
    font-size: 0.8em;
    //left: -100px;
}

@media (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0; // remove the gap so it doesn't close
    }
}

a:hover {
    text-decoration: none;
}