<div class="container-fluid parlentdenous">
    <div class="row">
        <div class="col-md-6 imgcont">
            <img src="assets/image/imginterview.jpg" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-6">
            <div style="display:flex;">
                <div class="trait1">
                </div>
                <h3>Ils parlent de nous</h3>
                <br><br>
            </div>
            <div style="display:flex; padding:30px; justify-content: space-around;">
                <div class="triangle"></div>
                <div class="avis">
                    <p>
                        <q>
                            <em>
                                <b>LegionWeb</b> possède de multiples expertises qui nous ont permis de mener à bien l'intégration de HubSpot et notre stratégie Inbound Marketing.
                                 <br>
                                <br> Nous avons réellement apprécié la qualité de nos échanges et l'implication de l'équipe!
                               </em>
                        </q>
                    </p>
                    <h6>CLaude Ayissi: Project Incubator CAGID</h6>
                </div>

            </div>
            <br>
            <button type="button" class="btn btn-primary"> voir nos études de cas</button>
        </div>
    </div>

</div>