<div class="container-fluid parlentdenous">
    <div class="row">
        <div class="d-sm-none" style="display:flex; padding:0;">
            <div class="trait1">
            </div>
            <h3>Ils parlent de nous
                <span style="font-size:0.7em;">(en bien)</span>
            </h3>
            <br><br>
        </div>
        <div class="col-md-6 imgcont">
            <img src="assets/image/imginterview.jpeg" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-6">

            <div class="d-none d-sm-flex" style="display:flex; padding:0;">
                <div class="trait1">
                </div>
                <h3>Ils parlent de nous
                    <span style="font-size:0.7em;">(en bien)</span>
                </h3>
                <br><br>
            </div>
            <div style="display:flex; margin:0; padding:30px; justify-content: space-around;">
                <div class="d-none d-sm-block triangle"></div>
                <div class="mobile avis ">
                    <p>
                        <q>
                            <em>
                                <b>LegionWeb</b> possède de multiples expertises qui nous ont permis de mener à bien l'intégration de CAGID CRM et notre stratégie Inbound Marketing.
                                 <br>
                                <br> Nous avons réellement apprécié la qualité de nos échanges et l'implication de l'équipe!
                               </em>
                        </q>
                    </p>
                    <h6>CHOUSSI Beyene: CEO et Fondatrice de B&C DATA CENTER</h6>
                </div>
            </div>
            <br>
            <button type="button" class="centrer mobile btn btn-primary "> voir nos études de cas</button>
        </div>
    </div>

</div>