<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src="assets/image/Image.png" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-6">
            <h2>ils parlent de nous</h2>
            <p>
                <q>LegionWeb possède de multiples
                  expertises qui nous ont permis de mener à bien
                  l'intégration de HubSpot et notre stratégie 
                  Inbound Marketing.
                  <br>
                  <br>
                  Nous avons réellement apprécieé la 
                  qualité de nos échanges et l'implication
                  de l'équipe!
                </q>
            </p>
            <h4>CLaude Ayissi</h4>
            <button type="button" class="btn btn-primary"> VOIR NOS ETUDES DE CAS</button>
        </div>
    </div>

</div>