<section id="footer">
    <img src="assets/image/" class="footer-img">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-box">
          <p>Subcribe Easy tutorials Youtube to match  Lorem
             ipsum dolor sit amet consectetur adipisicing elit. 
          </p>
        </div>
        <div class="col-md-4 footer-box">
            <p><b>CONTACT US</b>>></p>
            <p><i class="fa fa-map-marker"></i>World Trade Centre, Bel  leville</p>
            <p><i class="fa fafone"></i>+132415634646</p>
            <p><i class="fa fa-envelope-o"></i>derricteta1@gmail.com</p>
          
        </div>
        <div class="col-md-4 footer-box">
            <p><b>SUBCRIBE NEWSLETTER</b>>></p>
            <input type="email" class="form-control"
            placeholder="your email">
            <button type="button" class="btn btn-primary">
              Subcribe</button>
        </div>
        <p class="copyright">Website Create by 
          <a href="mailto:derrickteta1@gmail.com">
             Derrick TETA
          </a>
        </p>
        
      </div>
     
         
      </div>
      <!-------Smooth Scroll------------->
      <script src="smooth-scroll.Js"></script>
    
  </section>