<footer class="container-fluid">
  
    <!--<img src="assets/image/" class="footer-img">-->
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-box">
          
              <h6>FOCUS</h6>
              <ul>
                <li>Inbound marketing</li>
                <li>Sales</li>
                <li>Creation de sites</li>
                <li>Inbound Recruiting</li>
              </ul>
          
        </div>
        <div class="col-md-4 footer-box">
            <p><b>OUTILS</b></p>
            <p><i class="fa fa-map-marker"></i>World Trade Centre, Bel  leville</p>
            <p><i class="fa fafone"></i>+132415634646</p>
            <p><i class="fa fa-envelope-o"></i>derricteta1@gmail.com</p>
          
        </div>  
        <div class="col-md-4 footer-box">
            <p><b>SUBCRIBE NEWSLETTER</b></p>
            <input type="email" class="form-control"
            placeholder="your email">
            <button type="button" class="btn btn-primary">
              Subcribe</button>
        </div>   
      </div>
      <hr>
      <p class="copyright">Website Create by 
        <a href="mailto:derrickteta1@gmail.com">
           Derrick TETA
        </a>
      </p>
      </div>
      <!-------Smooth Scroll------------->
      <script src="smooth-scroll.Js"></script>
    
    </footer>