footer{
    background-image: linear-gradient(to right,#EE271B,#F79C1B);
    color: #fff;
    border:none;
    border-bottom: #fff;
    border-radius:100px 100px 0 0;
    margin-bottom: 0;
    padding-top:50px;
    width: 100%;
    
}
.footer-img{
    width:50%;
}
.footer-box img{
    width: 120px;
    margin-bottom: 5px;
}
.footer-box .fa {
  margin-right: 8px;
  font-size: 15px;
  height: 20px;
  width: 20px;
  text-align:center;
  padding-top:3px;
  border-radius: 2px;
  background-image: linear-gradient(to right,  #EE271B,#F79C1B);
    
}
.footer-box .form-control{
    box-shadow: none !important;
    border:none;
    border-radius: 0;
    margin: top 25px;
    max-width: 250px;
}
.footer-box .btn-primary{
    box-shadow: none !important;
    border:none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right,  #1b2c19,#113D0F);
   
}
hr{
    background-color:#fff;
}
.copyright{
    margin-bottom: 0;
    width: 100%;
    padding-bottom: 1px;
    border-top: black 1px;
    color: black;
    text-align: center;
}
a{
    color :white;
}