<div id="section1f">
    <div class="container-fluid forma">
        <h1>Formation Webmarketing</h1>
    </div>
</div>

<div id="section2f">
    <div class="container-fluid">
        <div class="row">
            <div class="col_sect col-12 col-sm-6 col-md-4">
                <div class="content_sectf">
                    <div class="imgf">
                        <img src="assets/image/ICO 1.png" alt="ICO1.png" />
                    </div>
                    <div class="textf">
                        <h3 style="margin-bottom: 20px; margin-top: 30px; color: #040e47; font-weight: bold">Prérequis</h3>
                        <p>Avoir un ordinateur portable ou machine de bureau. Connaissance de base dans l'usage de l'outil informatique. Aucun niveau d'étude requis</p>
                    </div>
                    <div class="bas_section">
                    </div>
                </div>
            </div>
            <div class="col_sect col-12 col-sm-6 col-md-4">
                <div class="content_sectf">
                    <div class="imgf">
                        <img src="assets/image/ICO2.png" alt="ICO2.png" />
                    </div>
                    <div class="textf">
                        <h3 style="margin-bottom: 20px; margin-top: 30px; color: #040e47; font-weight: bold">Objectifs de la formation</h3>
                        <p>Le référencement naturel (ou SEO) est incontestablement le levier d'acquisition le plus puissant... mais vous n'êtes pas seul à le savoir !</p>
                        <p>&nbsp;</p>
                        <p>Nous vous aidons à investir sur les bons mots-clés pour gagner des positions stratégiques dans les résultats de recherche (SERPs).</p>
                    </div>
                    <div class="bas_section">
                    </div>
                </div>
            </div>
            <div class="col_sect col-12 col-sm-6 col-md-4">
                <div class="content_sectf">
                    <div class="imgf">
                        <img src="assets/image/ICO 3.png" alt="ICO 3.png" />
                    </div>
                    <div class="textf">
                        <h3 style="margin-bottom: 20px; margin-top: 30px; color: #040e47; font-weight: bold">Notre actualité Webmarketing</h3>
                        <p>Ne ratez surtout pas notre actualité sur le domaine du Digital Marketing, mais aussi nos émissions dessus</p>
                    </div>
                    <div class="bas_section">
                    </div>
                </div>
            </div>
            <div class="col_sect col-12 col-sm-6 col-md-4">
                <div class="content_sectf">
                    <div class="imgf">
                        <img src="assets/image/ICO 10.png" alt="ICO 10.png" />
                    </div>
                    <div class="textf">
                        <h3 style="margin-bottom: 20px; margin-top: 30px; color: #040e47; font-weight: bold">Nos formations</h3>
                        <p class="text_quest">Quelles formations allez-vous choisir ?</p>
                        <div class="text_opo">
                            <ul>
                                <li>Les bases du Marketing Digital</li>
                                <li>Optimiser sa visibilité sur le Web</li>
                                <li>l'Inbound Marketing</li>
                                <li>Optimiser son référencement payant sur Google Ads(SEA)</li>
                                <li>web Analytics</li>
                                <li>communiquer efficacement sur les réseaux sociaux</li>
                                <li>Campagne publicitaires sur les réseaux sociaux</li>
                                <li>Mieux prospecter avec Linkedin</li>
                                <li>Digital RH et Marque Employeur</li>
                                <li>La relation client sur le Web et les réseaux sociaux</li>
                                <li>Créer un site Web avec Wordpress</li>
                            </ul>
                        </div>
                    </div>
                    <div class="bas_section">
                    </div>
                </div>
            </div>
            <div class="col_sect col-12 col-sm-6 col-md-4">
                <div class="content_sectf">
                    <div class="imgf">
                        <img src="assets/image/ICO 9.png" alt="ICO 9.png" />
                    </div>
                    <div class="textf">
                        <h3 style="margin-bottom: 20px; margin-top: 30px; color: #040e47; font-weight: bold">Débouchés</h3>
                        <p>Le référencement naturel (ou SEO) est incontestablement le levier d'acquisition le plus puissant... mais vous n'êtes pas seul à le savoir !</p>
                        <p>&nbsp;</p>
                        <p>Nous vous aidons à investir sur les bons mots-clés pour gagner des positions stratégiques dans les résultats de recherche (SERPs).</p>
                    </div>
                    <div class="bas_section">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="section3f">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 order-2 order-md-1">
                <div class="imgformation">
                    <img src="assets/image/imageformation.jpeg" alt="imageformation.jpeg" />
                </div>
                <h2>Suite de la pocédure :</h2>
                <div class="lexi_forma">
                    <p class="text_formation">
                        Venir muni de vos frais d’inscription de 20000 fcfa à la direction de LegionWeb ou régler par orange money. OM: 691-07-13-67(Nom: Claude Jordan Ayissi)// Mobile money: 679-747-370(Nom: Claude Jordan Ayissi), Joindre au formulaire une capture d’écran du dépôt effectuer.
                    </p>
                    <p>
                        NB : il est important de noter que les frais d’inscription sont versés avant de débuter la formation, ceux-ci pour permettre votre admission en salle.
                    </p>
                    <p>
                        Lors de votre versement , vous recevrez un reçu attestant votre participation à la formation .
                    </p>
                    <p>
                        Nous sommes situés à polytechnique bâtiment du technipole sup valor porte 104 précisement la Deuxième entrée du CHU melen ( celle près d’une poubelle)
                    </p>
                    <p>Cordialement le service clients LegionWeb</p>
                    <p>Merci bien🤗🤗</p>
                </div>
            </div>
            <div class="col-12 col-md-6 order-2 order-md-1">
                <h1 class="title_form">Formation en Marketing Digital</h1>
                <form class="all_form">
                    <div class="form-group">
                        <label for="nom">Nom et prénom</label>
                        <input type="text" name="nom" id="nom" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">Age</label>
                        <input type="email" name="email" id="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">Téléphone</label>
                        <input type="email" name="email" id="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" id="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="entreprise">Ville</label>
                        <input type="text" name="entreprise" id="entreprise" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="secteuractivite">Quartier</label>
                        <input type="text" id="secteuractivite" class="form-control" name="secteuractivite">
                    </div>
                    <div class="form-group">
                        <label for="urlsite">Profession</label>
                        <input type="text" name="urlsite" id="urlsite" class="form-control">
                    </div>
                    <button class="btn btn-primary">
                        Envoyer
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>