<div id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="assets/image/tn_icone3.jpeg"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" routerLink="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="services">SERVICES</a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link" routerLink="equipe">EQUIPE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="clients" >CLIENTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="contact" >CONTACTS</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</div>