#nav-bar{
    position: sticky;
    top:0;
    z-index: 40;
}

.navbar{
    background-image: linear-gradient(to right, #FFF, #F8F8FF);
    padding : 0 !important;
} 

.navbar-brand{
    height: 85px;
    padding-left: 20px;
}
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    color:#010206 !important;
    font-weight:600;
    float: right;
    text-align:left;

} 
.fa-bars{
    color:#010206;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}   