@font-face {
    font-family: "Buckey_Free";
    src: url("../../../assets/polices/titre/Buckey_Free.ttf") format("truetype");
}
#nav-bar{
    position: sticky;
    top:0;
    z-index: 40;
}

.navbar{
    background-image: linear-gradient(to right, #000F44, #000F44);
    padding : 0 !important;
} 

.navbar img{
    display:flex;
    height:75%;
    align-self:start;
    padding:0;
    margin-top:0;
} 


.navbar-brand{
    height: 85px;
    padding-left: 20px;
}
.navbar-nav li {
    font-family:"Buckey_Free", Arial, Helvetica, sans-serif;
    font-size:1.2em;
    padding: 0 10px;
}
.navbar-nav li a {
    color:#FFF !important;
    font-weight:600;
    float: right;
    text-align:left;

} 
.fa-bars{
    color:#FFF;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}   