<nav class="navbar navbar-expand-lg  navbar-light">
    <a class="navbar-brand" [routerLink]="['/home']" [routerLinkActive]="['home']"><img src="assets/image/logosite.png"></a>
    <button class="navbar-toggler" (click)="derouler()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>
    <div *ngIf="aria" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"><!--
            <li class="nav-item">
                <a (click)="derouler()" class="nav-link" routerLink="home" [routerLinkActive]="['active']">HOME</a>
            </li>-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    SERVICES
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div (click)="derouler()" class="dropdown-item deroulerservice">
                        <a routerLink="service/plandevol"><img src="assets/image/image 3.png"> </a>
                        <a routerLink="service/plandevol" [routerLinkActive]="['service']"><b>Plan de Vol</b><br><br>Persona - Storytelling <br>- Cycle de vie
                                       Client <br> - Process internes <br>- Objectifs SMART
                        </a>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div (click)="derouler()" class="dropdown-item deroulerservice">
                        <a routerLink="service/entonnoir"><img src="assets/image/image 2.png"></a>
                        <a routerLink="service/entonnoir" [routerLinkActive]="['service']"><b>Etonnoir de conversion</b><br><br>
                                         -inbound Marketing <br>- Site Web <br>- Landing pages <br>- Marketing Automation <br>
                                         - Sales Enablement 
                        </a>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div (click)="derouler()" class="dropdown-item  deroulerservice">
                        <a routerLink="service/acquisition"><img src="assets/image/image 4.png"></a>
                        <a routerLink="service/acquisition" [routerLinkActive]="['service']"><b>Acquisition</b> <br><br> SEO - SEA <br>- Content Marketing <br>- Social 
                                         Media & Ads <br>- eMailing <br>- Growth hacking<br>
                        </a>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div (click)="derouler()" class="dropdown-item  deroulerservice">
                        <a routerLink="service/pilotage"><img src="assets/image/image 5.png"></a>
                        <a routerLink="service/pilotage" [routerLinkActive]="['service']"><b>Pilotage</b> <br><br> CRM - Tableau de bord <br>- BI - 
                                         Recrutement <br> - Marque employeur
                        </a>
                    </div>
                </div>
            </li><!--
            <li class="nav-item">
                <a (click)="derouler()" class="nav-link" routerLink="clients" [routerLinkActive]="[ 'active'] ">NOS CLIENTS</a>
            </li>-->
            <li class="nav-item">
                <a (click)="derouler()" class="nav-link" routerLink="equipe" [routerLinkActive]="[ 'active'] ">EQUIPE</a>
            </li>
            <li class="nav-item ">
                <a (click)="derouler()" class="nav-link" routerLink="blog" [routerLinkActive]="['active']">BLOG</a>
            </li>
            <li class="nav-item ">
                <a (click)="derouler()" class="nav-link" routerLink="formation" [routerLinkActive]="['active']">FORMATION</a>
            </li>
            <li class="nav-item">
                <a (click)="derouler()" class="nav-link" routerLink="contact" [routerLinkActive]="[ 'active'] ">CONTACT</a>
            </li><!--
            <li class="nav-item">
                <a (click)="derouler()" class="nav-link" routerLink="demarrer" [routerLinkActive]="[ 'active'] ">DEMARRER AVEC CAGID</a>
            </li>-->
        </ul>
    </div>
</nav>