<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div id="img_text">
                <h1>Établir votre Plan de Vol</h1>
                <div class="trait1">
                </div>
                <p class="text_trait paraobjet">
                    <span class="objet">Objectif de la phase</span> : Identifier avec précision votre audience <br> cible et élaborer votre stratégie de conquête.
                </p>
            </div>
            <div class="col-6">
                <p class="paraobjet"> Persona - Storytelling - Cycle de vie client - Process internes - Objectifs - SMART </p>
            </div>
            <a href="#" title="COMMENCEZ MAINTENANT">
                <button type="button" class="btn btn-primary">Commencez maintenant</button>
            </a>
        </div>
        <div class="col-6">
            <img src="assets/image/bann3.png" alt="bann3.png" />
        </div>
    </div>
</div>
<div id="trait_m"></div>

<div id="section2a">
    <div class="container">
        <div class="imgvol">
            <img src="assets/image/buyersp.jpeg" alt="buyersp.jpeg" />
        </div>
        <div class="vol">
            <div>
                <div class="trait1a"></div>
                <h2>Définir vos Buyers Personas</h2>
            </div>
            <p class="lexique_entenoir">
                Nous travaillons avec nos clients pour identifier et qualifier exactement leur <br> public cible.
            </p>
            <p>
                La définition de vos Buyers Personas permet de segmenter votre audience <br> cible et votre base de contact en fonction de leur Pain Points.
            </p>
            <p>
                C'est le point de départ de campagnes marketing ciblées et performantes.
            </p>
        </div>
    </div>
</div>

<div id="section3a">
    <div class="container">
        <div class="vol3">
            <div>
                <div class="trait1a"></div>
                <h2>Construire votre entonnoir de <br> conversion</h2>
            </div>
            <p class="lexique_entenoir">
                Nous aidons nos clients à élaborer des entonnoirs de conversion adaptés <br> au comportement d'achat de leurs cibles.
            </p>
            <p>
                Avoir identifié les étapes du processus de décision d'un prospect est la <br> meilleure façon d'optimiser vos chances de le convertir en client.
            </p>
        </div>
        <div class="imgvol3">
            <img src="assets/image/construction.png" alt="construction.png" />
        </div>
    </div>
</div>
<div id="section4a">
    <div class="container">
        <div class="imgvol4">
            <img src="assets/image/aligner.jpeg" alt="aligner.jpeg" />
        </div>
        <div class="vol4">
            <div>
                <div class="trait1a"></div>
                <h2>Aligner les équipes</h2>
            </div>
            <p class="lexique_entenoir">
                Nous accompagnons les équipes marketing et commerciales dans la mise <br> en place de process efficaces.
            </p>
            <p>
                Obtenir des résultats demande une synchronisation entre les services. Le <br> succès dépend en grande partie du délai entre l'identification d'une <br> opportunité (marketing) et son traitement (commercial).
            </p>
        </div>
    </div>
</div>

<div id="section5a">
    <div class="container">
        <div class="vol5">
            <div>
                <div class="trait1a"></div>
                <h2>Établir des objectifs SMART</h2>
            </div>
            <p class="lexique_entenoir">
                Nous aidons nos clients à définir des objectifs Spécifiques, Mesurables, <br> Atteignables, Réalistes et Temporels.
            </p>
            <p>
                Calculer des objectifs pertinents permet d'aligner les forces et de prioriser <br> les actions.
            </p>
        </div>
        <div class="imgvol5">
            <img src="assets/image/objectif.jpg" alt="objectif.jpg" />
        </div>
    </div>
</div>

<div id="section6a">
    <div class="container">
        <div class="imgvol6">
            <img src="assets/image/existant.jpg" alt="existant.jpg" />
        </div>
        <div class="vol6">
            <div>
                <div class="trait1a"></div>
                <h2>Construire sur l'existant</h2>
            </div>
            <p class="lexique_entenoir">
                Nous commençons toujours par identifier les points forts et les pistes <br> d'amélioration de votre stratégie actuelle.
            </p>
            <p>
                Cela nous donne la possibilité d'identifier les opportunités à saisir pour <br> générer des résultats rapides.
            </p>
        </div>
    </div>
</div>