<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12 order-2 order-md-1 textvol1">
            <div id="img_text">
                <h1>Établir votre Plan de Vol</h1>
                <div class="trait1">
                </div>
                <p class="text_trait paraobjet">
                    <span class="objet">Objectif de la phase</span> : Identifier avec précision votre audience <br> cible et élaborer votre stratégie de conquête.
                </p>
            </div>
            <div class="">
                <p class="paraobjet"> Persona - Storytelling - Cycle de vie client - Process internes - Objectifs - SMART </p>
            </div>
            <a href="#" title="COMMENCEZ MAINTENANT">
                <button type="button" (click)="scrol('discuterplan')" class="btn btn-primary">Commencez maintenant</button>
            </a>
            <div class="d-sm-none">
                <br><br>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 order-1 order-md-2 imgvol1">
            <img src="assets/image/imgplanvol.png" alt="imgplanvol.png" />
        </div>
    </div>
</div>
<div id="trait_m"></div>

<div id="section2a">
    <div class="row">
        <div class="col-md-6 col-sm-12 order-1 order-md-1 imgvol2">
            <img src="assets/image/buyersp.jpeg" alt="buyersp.jpeg" />
            <div class="hovervol2"></div>
        </div>
        <div class="col-md-6 col-sm-12 order-2 order-md-2 img_text2">
            <div class="d-sm-none">
                <br><br>
            </div>
            <div>
                <div class="trait1a"></div>
                <h2>Définir vos Buyers Personas</h2>
            </div>
            <p class="lexique_entenoir">
                Nous travaillons avec nos clients pour identifier et qualifier exactement leur public cible.
            </p>
            <p>
                La définition de vos Buyers Personas permet de segmenter votre audience cible et votre base de contact en fonction de leur Pain Points.
            </p>
            <p>
                C'est le point de départ de campagnes marketing ciblées et performantes.
            </p>
        </div>
    </div>
</div>

<div id="section3a">
    <div class="row">
        <div class="col-md-6 col-sm-12 order-2 order-md-1">
            <div class="d-sm-none">
                <br><br>
            </div>
            <div>
                <div class="trait1a"></div>
                <h2>Construire votre entonnoir de <br> conversion</h2>
            </div>
            <p class="lexique_entenoir">
                Nous aidons nos clients à élaborer des entonnoirs de conversion adaptés au comportement d'achat de leurs cibles.
            </p>
            <p>
                Avoir identifié les étapes du processus de décision d'un prospect est la meilleure façon d'optimiser vos chances de le convertir en client.
            </p>
        </div>
        <div class="col-md-6 col-sm-12 order-1 order-md-2 imgvol3">
            <img src="assets/image/construction.png" alt="construction.png" />
            <div class="hovervol3"></div>
        </div>
    </div>
</div>
<div id="section4a">
    <div class="row">
        <div class="col-md-6 col-sm-12 order-1 order-md-1 imgvol4">
            <img src="assets/image/aligner.jpeg" alt="aligner.jpeg" />
            <div class="hovervol4"></div>
        </div>
        <div class="col-md-6 col-sm-12 order-2 order-md-2">
            <div class="d-sm-none">
                <br><br>
            </div>
            <div>
                <div class="trait1a"></div>
                <h2>Aligner les équipes</h2>
            </div>
            <p class="lexique_entenoir">
                Nous accompagnons les équipes marketing et commerciales dans la mise en place de process efficaces.
            </p>
            <p>
                Obtenir des résultats demande une synchronisation entre les services. Le succès dépend en grande partie du délai entre l'identification d'une <br> opportunité (marketing) et son traitement (commercial).
            </p>
        </div>
    </div>
</div>

<div id="section5a">
    <div class="row">
        <div class="col-md-6 col-sm-12 order-2 order-md-1">
            <div class="d-sm-none">
                <br><br>
            </div>
            <div>
                <div class="trait1a"></div>
                <h2>Établir des objectifs SMART</h2>
            </div>
            <p class="lexique_entenoir">
                Nous aidons nos clients à définir des objectifs Spécifiques, Mesurables, Atteignables, Réalistes et Temporels.
            </p>
            <p>
                Calculer des objectifs pertinents permet d'aligner les forces et de prioriser les actions.
            </p>
        </div>
        <div class="col-md-6 col-sm-12 order-1 order-md-2 imgvol5">
            <img src="assets/image/objectif.jpg" alt="objectif.jpg" />
            <div class="hovervol5"></div>
        </div>
    </div>
</div>

<div id="section6a">
    <div class="row">
        <div class="col-md-6 col-sm-12 order-1 order-md-1 imgvol6">
            <img src="assets/image/existant.png" alt="existant.png" />
            <div class="hovervol6"></div>
        </div>
        <div class="col-md-6 col-sm-12 order-2 order-md-2">
            <div class="d-sm-none">
                <br><br>
            </div>
            <div>
                <div class="trait1a"></div>
                <h2>Construire sur l'existant</h2>
            </div>
            <p class="lexique_entenoir">
                Nous commençons toujours par identifier les points forts et les pistes d'amélioration de votre stratégie actuelle.
            </p>
            <p>
                Cela nous donne la possibilité d'identifier les opportunités à saisir pour générer des résultats rapides.
            </p>
        </div>
    </div>
</div>
<div class="client">

    <div style="display:flex">
        <div class="trait1">
        </div>
        <h2>Nos clients</h2>
    </div>
    <br>
    <app-client></app-client>
</div>
<div class="parlent">
    <app-parlentdenous></app-parlentdenous>
</div>
<div class="newsletter">

    <div style="display:flex">
        <div class="trait1">
        </div>
        <h2>Recevez votre newsletter personnalisée</h2>
    </div>
    <app-newsletter></app-newsletter>
</div>
<div class="discuter" id="discuterplan">
    <app-discuter></app-discuter>
</div>