/* @font-face kit by Fonts2u (https://fonts2u.com)
*/ /* @font-face {font-family:"Open Sans";
	src:url("assets/polices/OpenSans-Regular.eot?") format("eot"),
	url("assets/polices/OpenSans-Regular.woff") format("woff"),
	url("assets/polices/OpenSans-Regular.ttf") format("truetype"),
	url("assets/polices/OpenSans-Regular.svg#OpenSans") format("svg");
	font-weight:normal;
    font-style:normal;}
    
*/
    body
	{
		font-family:"Open Sans";
		margin: 0;
		padding: 0;
    }
    .container
    {
		max-width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
        font-size: initial !important;
    }
    #section1a
    {
        padding: 150px 0px 150px 0px;
        background: #F5F6FC
    }
    #vol1
    {
		display: inline-block;
    }
    #imgvol1
    {
        display: inline-block;
        vertical-align: top;
        margin-left: 230px;
    }
    #vol1 h1
    {
        font-family: 'LatoBlack',sans-serif !important;
        font-size: 40px !important; 
        color: #040e47;
        margin-bottom: 30px;
        font-weight: bold;
    }
    .trait1
    {
        display: inline-block;
        width: 33px;
        height: 3px;
        background: #3b4654;
        border-radius: 50px;
    }
    .text_trait
    {
        display: inline-block;
        vertical-align: top;
        margin-left: 30px;
        line-height: 30px;
    }
    .objet
    {
        font-weight: bold;
        color: #3b4654;
        font-size: 18px;
    }
    .paraobjet
    {
        color: #3b4654;
        font-size: 18px;
    }
    .button_com
    {
        background-color: #ff6c4a;
        /*background-image: linear-gradient(to right,#ff6c4a,#fd8a6e);*/
        padding: 15px 26px;
    }
    .button_com:hover
    {
        
    }
    #vol1 button
    {
        font-family: 'OpenSansLight',sans-serif !important;
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        border: #ff6c4a;
    }/*
    #trait_m
    {
        position: relative;
        background: #F5F6FC;
        padding: 206px 0px 300px 0px;
        overflow: hidden;
    }
    #trait_m::before
    {
        position: absolute;
        background: #040e47;
        width: 2px;
        height: 57px;
        bottom: 70px;
        left: 50%;
        z-index: 9;
        transition: all .2s;
    }*/
    #section2a
    {
        background: #FAFAFD;
        padding: 180px 0px 80px 50px;
    }
    #section2a .imgvol
    {
        display: inline-block;  
        vertical-align: top;  
    }
    #section2a .vol
    {
        display: inline-block;
        margin-left: 230px;
        line-height: 30px;
        color: #040e47;
    }
    .lexique_entenoir
    {
        font-weight: bold;
    }
    h2
    {
        display: inline-block; 
        padding-left: 30px;
        margin-bottom: 40px; 
        color: #040e47;
        font-family: 'LatoBlack',sans-serif !important;
        font-size: 30px !important;
        vertical-align: top;
        font-weight: bold;
    }
    #section3a
    {
        padding: 80px 0px 80px 50px;
    }
    #section3a .vol3
    {
        display: inline-block;
        line-height: 30px;
    }
    #section3a .imgvol3
    {
        display: inline-block;
        vertical-align: top;
        margin-left: 200px;
    }
    #section4a
    {
        padding: 80px 0px 80px 50px;
        background: #FAFAFD;
    }
    #section4a .vol4
    {
        display: inline-block;
        line-height: 30px;
        margin-left: 200px;
    }
    #section4a .imgvol4
    {
        display: inline-block;
        vertical-align: top;
    }
    #section5a
    {
        padding: 80px 0px 80px 50px;
    }
    #section5a .vol5
    {
        display: inline-block;
        line-height: 30px;
    }
    #section5a .imgvol5
    {
        display: inline-block;
        vertical-align: top;
        margin-left: 200px;
    }
    #section6a
    {
        padding: 80px 0px 80px 100px;
        background: #FAFAFD;
    }
    #section6a .vol6
    {
        display: inline-block;
        line-height: 30px;
        margin-left: 200px;
    }
    #section6a .imgvol6
    {
        display: inline-block;
        vertical-align: top;
    }
