<div id="section1d">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 order-2 order-md-1 pilot">
                <div class="d-sm-none">
                    <br><br><br><br>
                </div>
                <h1>Un Pilotage Éclairé</h1>
                <div>
                    <div class="trait4"></div>
                    <p id="text_pilot" class="para_pilot">
                        <span class="objet_pilot">Objectif de la phase</span> : Piloter votre stratégie avec les bonnes <br> données, les bons outils et les bonnes compétences.
                    </p>
                </div>
                <p class="liste_pilot">
                    CRM - Tableau de bord - Business Intelligence - Recrutement - <br> Marque employeur
                </p>
                <button type="button" (click)="scrol('discuterpilotage')" class="btn btn-primary">Commencez maintenant</button>
            </div>
            <div class="col-12 col-md-6 order-1 order-md-2 img_pilot">
                <img src="assets/image/image 5.png" alt="image 5.png" />
            </div>
            <div id="trait_m"></div>
        </div>
    </div>
</div>

<div id="section2d">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 order-2 order-md-1 imgpilot1">
                <img src="assets/image/tableaubord.jpg" alt="tableaubord.jpg" />
                <div class="hoverimgpilot1"></div>
            </div>
            <div class="col-12 col-md-6 order-2 order-md-1 pilotage1">
                <div class="d-sm-none">
                    <br><br>
                </div>
                <div>
                    <div class="trait4d"></div>
                    <h2>Construire votre Tableau de Bord</h2>
                </div>
                <p class="lexique_pilot">Les chiffres ne mentent jamais.</p>
                <p class="text_desc">
                    Un tableau de bord est indispensable pour les entreprises qui souhaitent passer un cap. Il garantit votre capacité à rester flexible et à adapter votre <br> stratégie à tout moment.
                </p>
                <p>
                    Nous vous accompagnons dans la définition d'objectifs SMART (Spécifiques, Mesurables, Atteignables, Réalistes et Temporels) qui vous permettront de <br> prioriser vos actions et de programmer votre croissance de façon réaliste.
                </p>
                <p>
                    Nous vous aidons à suivre les bons KPIs et à automatiser votre reporting. Un reporting efficace est transversale, automatisé et régulier <br> (hebdomadaire, mensuel, trimestriel, etc.).
                </p>
            </div>
        </div>
    </div>
</div>

<div id="section3d">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 order-2 order-md-1 pilotage2">
                <div class="d-sm-none">
                    <br><br>
                </div>
                <div>
                    <div class="trait4d"></div>
                    <h2>Se doter d'un CRM</h2>
                </div>
                <p class="lexique_pilot">La donnée est le lien entre votre prospect et votre organisation.</p>
                <p>
                    Garder une trace de l'ensemble des interactions avec vos visiteurs, vos prospects et vos clients au sein d'un CRM. Vous pourrez ainsi mieux comprendre leurs besoins, identifier des signaux d'achat grâce à leur comportement sur votre site, et engager la
                    conversation au bon moment pour optimiser vos chances..
                </p>
                <p class="lexique_pilot">Vos prospects et clients détestent avoir à se répéter.</p>
                <p>
                    Optimiser la collaboration des équipes Sales, Marketing et Support en centralisant l'information sur une plateforme unique. Fournissez à vos équipes les données nécessaires pour être pertinent et utile à tout moment.
                </p>
            </div>
            <div class="col-12 col-md-6 order-1 order-md-2 imgpilot2">
                <img src="assets/image/imgcrm1.jpg" alt="imgcrm1.jpg" />
                <div class="hoverimgpilot2"></div>
            </div>
        </div>
    </div>
</div>

<div id="section4d">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 order-1 order-md-2 imgpilot3">
                <img src="assets/image/imgrecruter.jpg" alt="imgrecruter.jpg" />
                <div class="hoverimgpilot3"></div>
            </div>
            <div class="col-12 col-md-6 order-2 order-md-2 pilotage3">
                <div class="d-sm-none">
                    <br><br>
                </div>
                <div>
                    <div class="trait4d"></div>
                    <h2>Recruter et former vos équipes</h2>
                </div>
                <p class="lexique_pilot">
                    Des difficultés à recruter les talents ? Besoin d'ajouter des compétences au sein de vos équipes ?
                </p>
                <p>
                    Beaucoup de recruteurs font le même constat : il devient de plus en plus difficile de recruter les talents. D'une part les candidats qualifiés se font rares et augmentent leurs exigences, d'autres parts les compétences deviennent obsolètes plus rapidement.
                </p>
                <p class="lexique_pilot">Développer votre marque employeur</p>
                <p>
                    Pour gagner la guerre des talents, savoir comment recruter de manière innovante est indispensable !
                </p>
                <p class="lexique_pilot">Formez les collaborateurs en continu</p>
                <p>
                    Tirez le meilleur des outils que vous adoptez et conservez l'autonomie de vos équipes grâce à la formation. Nos experts transmettent les bonnes pratiques et les tips qui vous permettent d'utiliser vos outils au maximum de leurs capacités.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="client">

    <div style="display:flex">
        <div class="trait1">
        </div>
        <h2>Nos clients</h2>
    </div>
    <br>
    <app-client></app-client>
</div>
<div class="parlent">
    <app-parlentdenous></app-parlentdenous>
</div>
<div class="newsletter">

    <div style="display:flex">
        <div class="trait1">
        </div>
        <h2>Recevez votre newsletter personnalisée</h2>
    </div>
    <app-newsletter></app-newsletter>
</div>
<div class="discuter" id="discuterpilotage">
    <app-discuter></app-discuter>
</div>