  .container-fluid
  {
    background-color: white;
  }
  .col-md-6 .form-group 
  {
    position: relative;
  }
  .col-md-6 .form-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #040e47;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background: transparent;
  }
  .col-md-6 .form-group label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #040e47;
    pointer-events: none;
    transition: .5s;
  }
  .col-md-6 .form-group input:focus ~ label,
  .col-md-6 .form-group input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  #message 
  {
    padding-top: 80px;
  }
  