<footer>

    <!--<img src="assets/image/" class="footer-img">-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 footer-box">
                <img src="assets/image/logf.png" class="img-fluid img-responsive footer-img" />
                <button (click)="redirect('contact')" type="button" class="btn btn-primary"> Contactez nous</button>
            </div>
            <div class="col-sm-3 footer-box">

                <h6><b>FOCUS</b></h6>
                <ul>
                    <li>Inbound marketing</li>
                    <li>Sales</li>
                    <li>Creation de sites</li>
                    <li>Inbound Recruiting</li>
                </ul>

            </div>
            <div class="col-sm-3 footer-box">
                <h6><b>OUTILS</b></h6>
                <p>Démo Cagid</p>
                <p>ChatBot</p>
                <p>Marketing Tool Box</p>

            </div>
            <div class="col-sm-3 footer-box">
                <h6><b>A Propos de nous</b></h6>
                <ul>
                    <li><button (click)="redirect('equipe')">Equipe</button></li>
                    <li>Cas Clients</li>
                    <li><button (click)="redirect('blog')">Blog</button></li>
                    <li>Ressources</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="copyright">Website Create by
        <a href="mailto:derrickteta1@gmail.com">
           LegionWeb
        </a>
    </div>
    <!-------Smooth Scroll------------->
    <!--<script src="smooth-scroll.Js"></script>-->

</footer>