footer {
    position: absolute;
    //background-image: linear-gradient(to bottom,#fbfbfb, #000F44);
    background-image: linear-gradient(to bottom, #EAF9F9, #EAF9F9);
    //background-image: linear-gradient(to bottom, #FE6F5F, #f5f5f5);
    position: relative;
    bottom: 0 !important;
    color: #0c0456;
    //border-top:solid 1px #0069D9;
    //border-radius:100px 100px 0 0;
    font-size: 1em;
    margin: 0;
    padding: 50px 0 0 0;
    width: 100%;
    overflow-x: hidden;
}

h6 {
    font-size: 1.2em;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

li,
h6,
P {
    margin-bottom: 15px;
}

.footer-img {
    display: flex;
    height: 50%;
    width: 100%;
}

.footer-box img {
    width: 120px;
    margin-bottom: 5px;
}

.footer-box {
    margin: 15px 0 5px 0;
}

.f {
    position: absolute;
    right: 90px;
    margin-left: 8px;
    //font-size: 25px;
    //color: #f5f5f5;
}

.in {
    position: absolute;
    right: 60px;
    margin-left: 8px;
}
.logofoot
{
    
}
.conta {
    
}

@media (max-width: 767px) {
    .f {
        position: absolute;
        right: 9%;
        margin-left: 8px;
        //font-size: 25px;
        //color: #f5f5f5;
    }
    .in {
        position: absolute;
        right: 2%;
        margin-left: 8px;
    }
}

.footer-box .form-control {
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin: top 25px;
    max-width: 250px;
}

.footer-box {
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
}

hr {
    background-color: #fff;
    margin-bottom: 0;
}

.copyright {
    position: relative;
    height: 60px;
    width: 100%;
    padding-top: 1%;
    border-top: #f2f2f2 1px;
    text-align: center;
    color: #0c0456;
    text-align: center;
    background-image: linear-gradient(to right, #D6D9EA, #D6D9EA);
}

a {
    color: #04030f;
}

a:hover {
    color: #0069D9;
}

li button {
    padding: 0;
    background-image: linear-gradient(to bottom, #EAF9F9, #EAF9F9);
    color: #0c0456;
    border: none;
}

.contfoot {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 5%;
}