<footer>
  
    <!--<img src="assets/image/" class="footer-img">-->
    <div class="container-fluid">
      <div class="row" style="padding-left:15px;">
        <div class="col-sm-3 footer-box">
          <img src="assets/image/logo4.png" style="display:flex;width:30%;"class="img-fluid img-responsive imgbanner"/>
          <button type="button"class="btn btn-primary"> Contactez nous</button>
        </div>
        <div class="col-sm-3 footer-box">
          
              <h6><b>FOCUS</b></h6>
              <ul>
                <li>Inbound marketing</li>
                <li>Sales</li>
                <li>Creation de sites</li>
                <li>Inbound Recruiting</li>
              </ul>
          
        </div>
        <div class="col-sm-3 footer-box">
            <h6><b>OUTILS</b></h6>
            <p><i class="fa fa-map-marker"></i>World Trade Centre, Bel  leville</p>
            <p><i class="fa fafone"></i>+132415634646</p>
            <p><i class="fa fa-envelope-o"></i>derricteta1@gmail.com</p>
          
        </div>  
        <div class="col-sm-3 footer-box">
            <h6><b>A Propos de nous</b></h6>
            <ul>
              <li>Equipe</li>
              <li>Cas Clients</li>
              <li>Blog</li>
              <li>Ressources</li>
            </ul>
        </div>   
      </div>
      </div>
      <hr>
      <p class="copyright">Website Create by 
        <a href="mailto:derrickteta1@gmail.com">
           LegionWeb
        </a>
      </p>
      <!-------Smooth Scroll------------->
      <!--<script src="smooth-scroll.Js"></script>-->
    
    </footer>