<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-4 col-6 img-responsive imgcont">
            <img src="assets/image/imgent1.jpeg" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-2 col-sm-4 col-6 img-responsive imgcont">
            <img src="assets/image/imgent2.jpeg" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-2 col-sm-4 col-6 img-responsive imgcont">
            <img src="assets/image/imgent8.jpeg" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-2 col-sm-4 col-6 img-responsive imgcont">
            <img src="assets/image/imgent4.jpeg" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-2 col-sm-4 col-6 img-responsive imgcont">
            <img src="assets/image/imgent6.jpeg" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-2 col-sm-4 col-6 img-responsive imgcont">
            <img src="assets/image/imgent7.jpeg" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-2 col-sm-4 col-6 img-responsive imgcont">
            <img src="assets/image/newdesign.png" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-2 col-sm-4 col-6 img-responsive imgcont ubuntu">
            <img src="assets/image/ubuntumart.png" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-2 col-sm-4 col-6 img-responsive imgcont">
                <img src="assets/image/logoafricain.png" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-2 col-sm-4 col-6 img-responsive imgcont ubuntu">
                <img src="assets/image/logodove.png" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-2 col-sm-4 col-6 img-responsive imgcont">
                <img src="assets/image/logobazar.png" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-2 col-sm-4 col-6 img-responsive imgcont">
                <img src="assets/image/rockerloisir.png" class="img-fluid img-responsive imgbanner" />
        </div>

    </div>

</div>