    /*---------Banner Section---------*/
    
    #banner {
        color: #f2f2f2;
        background-color: #0c0456;
        padding-top: 5%;
        background: url(../../../assets/image/banner13.jpg) no-repeat top center scroll;
        height: 5%;
        min-height: 360px;
        margin: 0;
    }
    
    #banner h1 {
        display: block;
        margin-left: 40%;
        font-weight: bold;
        color: #0c0456;
        font-size: 2em;
        text-align: center;
    }
    /*contenu du blog*/
    
    //articles
    .avantart {
        display: flex;
        justify-content: space-between;
    }
    
    .avantart ul,
    h3 {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }
    
    .artli {
        display: flex;
        align-self: start;
        font-weight: bold;
        font-size: 1em;
        color: #D8A24A;
        border-top: solid 1px #D8A24A;
        padding: 10% 0 10% 0;
        width: 100%;
    }
    
    .artli a {
        color: #0c0456;
    }
    
    .firstart {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    
    .firstart .img-resp {
        display: flex;
        width: 100%;
        height: 400px;
        //filter: brightness(80%);
    }
    
    .firstart h3,
    p {
        display: flex;
        width: 80%;
        align-self: center;
        text-align: center;
    }
    /* styling search bar */
    
    .search input[type=text] {
        //background-color: #F5F6FC;
        color: #0c0456;
        width: 85%;
        height: 60px;
        border: solid 1px #0c0456;
    }
    
    .search button {
        background: transparent;
        color: #0c0456;
        position: absolute;
        bottom: 35px;
        right: 1px;
        //padding: 5px 10px;
        //margin-right: 16px;
        font-size: 6px;
        border: none;
        cursor: pointer;
    }
    /*fin barre de recherche*/
    
    .listeart h3 {
        display: block;
        width: 100%;
        height: 10%;
        padding: 5% 0 5% 0;
        margin-bottom: 15%;
    }
    
    h6 {
        display: flex;
        align-self: center;
        font-size: 80%;
        margin-left: 3%;
    }
    
    .auteurart {
        display: flex;
        margin-top: 5%;
    }
    
    .article {
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px #D8A24A;
        padding: 3% 0 3% 0;
    }
    
    .articleimg {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
    
    .service-img {
        display: flex;
        align-self: center;
        width: 257px;
        //height: 50px;
    }
    
    #hr1 {
        position: relative;
        height: 4px;
        background-color: #0c0456;
        top: -70px;
        z-index: 1000;
        margin: 0;
        padding: 0;
    }
    
    #hr2 {
        position: relative;
        height: 3px;
        background-color: #0c0456;
        top: -65px;
        z-index: 1000;
        margin: 0;
        padding: 0;
    }
    
    #hr3 {
        position: relative;
        height: 2px;
        background-color: #0c0456;
        top: -60px;
        z-index: 1000;
        margin: 0;
        padding: 0;
    }
    
    .client,
    .newsletter,
    .parlent {
        margin: 10% 5% 10% 5%;
    }
    
    @media (min-width: 768px) {
        .firstart {
            flex: 2;
            border-right: solid 1px #D8A24A;
            padding-right: 2%;
            max-height: 20%;
        }
        .contenublog {
            //border-top: solid 1px #D8A24A;
            background-image: linear-gradient(to bottom, #F9F7F3, #FAFAFD);
            color: #0c0456;
            //margin: 0 6% 4% 2%;
            margin: 4% 6% 9% 6%;
        }
        /* .productmarketfit {
            position: relative;
            right: 20px;
            padding: 3% -30px 3% 0;
        }
        .productmarketfit h3 {
            position: relative;
            left: 5px
        }*/
        .indicateur {
            position: relative;
            left: 20px;
            padding: 3% 20px 3% 0;
        }
        .search {
            display: flex;
            align-self: center;
            position: relative;
            margin-left: 10%;
            //background-color: #F5F6FC;
        }
        .search .fa {
            background: transparent;
            color: #0c0456;
            position: absolute;
            bottom: 5px;
            right: 15px;
            //padding: 5px 10px;
            //margin-left: 5px;
            font-size: 12px;
            border: none;
            cursor: pointer;
        }
        .listeart {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 0 1% 0 1%
        }
        .article h3 {
            display: block;
            padding-top: 0;
            width: 90%;
            margin-left: 0;
            font-size: 1.3em;
            font-weight: bold;
        }
        .article p {
            display: block;
            padding-top: 0;
            font-size: 1em;
            width: 100%;
            margin-left: 1vh;
            text-align: justify;
        }
    }
    
    @media (max-width: 767px) {
        .article p {
            display: block;
            padding-top: 0;
            font-size: 1em;
            width: 100%;
            //margin-left: 1vh;
            text-align: justify;
        }
        .search {
            display: flex;
            align-self: center;
            position: relative;
            width: 80%;
            margin: auto;
            //margin-left: 18%;
            //background-color: #F5F6FC;
        }
        .search .fa {
            background: transparent;
            color: #0c0456;
            position: absolute;
            bottom: 5px;
            right: 1px;
            //padding: 5px 10px;
            //margin-left: 5px;
            font-size: 12px;
            border: none;
            cursor: pointer;
        }
        .contenublog {
            //border-top: solid 1px #D8A24A;
            background-image: linear-gradient(to bottom, #F9F7F3, #FAFAFD);
            color: #0c0456;
            margin: 0;
            //margin: 4% 6% 9% 6%;
        }
        img {
            display: flex;
            width: 60%;
            margin: auto;
        }
        h3 {
            width: 60%;
            text-align: center;
            margin: auto;
        }
        .firstart .img-resp {
            display: flex;
            width: 100%;
            height: 200px;
            //filter: brightness(80%);
        }
        .service-img {
            display: flex;
            width: 100%;
            height: 200px;
        }
        h3,
        p {
            display: flex;
            width: 100%;
            align-self: center;
            //text-align: center;
        }
        .listeart {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            //flex: 1;
            padding: 0;
        }
    }