<!-------banner section-------->
<div id="banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 container">
                <br>
                <br>
                <!--<h1>Blog <br>de la performance <br> &nbsp; Marketing et Commerciale
                </h1>-->
            </div>
        </div>

    </div>
</div>
<!--fin banner-->
<div class="contenublog">
    <hr id="hr1">
    <hr id="hr2">
    <hr id="hr3">
    <div class="avantart">
        <div class="firstart">
            <h3>Social Récruiting et social selling index: comment récruiter efficacement?
            </h3>
            <br>
            <p>le social Récruiting s'est imposé comme une méthode éfficace de récrutement sur les réseaux sociaux professionnels.
            </p>
            <br>
            <img src="assets/image/imagesociale.jpg" class="img-resp">
            <div class="auteurart">
                <img src="assets/image/imgpaule.png" class=" articleimg img-responsive img-circle">
                <h6>Paule EKAM consultant digital chez legionweb</h6>
            </div>
        </div>
        <div class="listeart">
            <div class="search">

                <form action="#">
                    <input style="width:325px; margin-bottom:20px; padding:0;" type="text" placeholder=" Rechercher un article" name="search">
                    <button>
                        <i class="fa fa-search"
                            style="font-size: 18px;">
                        </i>
                    </button>
                </form>
            </div>

            <ul>
                <h3>Articles populaires</h3>
                <li class="artli"><a href="">les 6 indicateurs de RH à connaitre</a> </li>
                <li class="artli"><a href="">5 éléments éfficaces d'un plan marketing</a> </li>
            </ul>
        </div>
    </div>
    <!---------voici la liste des articles ca sera remplacé par 
    le composant articles mais pour l'instant c'est statique-->
    <div class="article">
        <img src="assets/image/marketing.jpg" class=" img-responsive ">
        <div class="arttexte">
            <h3>Quelles sont les nouvelles tendances Marketing pour 2021?
            </h3>
            <p>
                <br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo optio, hic ipsum asperiores obcaecati tempore dolorem tenetur ullam ad dignissimos rerum, dolor facere earum corrupti atque architecto fugit iste porro.
                <br>
            </p>
            <div class="auteurart">
                <img src="assets/image/imgpaule.png" class=" articleimg img-responsive img-circle">
                <h6>Paule EKAM consultant digital chez legionweb</h6>
            </div>
        </div>
    </div>
    <div class="article" style="background-color:white; filter: brightness(98%);">

        <img src="assets/image/reuissir.jpg" class="service-img img-responsive">
        <div class="arttexte">
            <h3> WorkFlows: étapes pour réuissirs</h3>
            <p>
                <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam pariatur minus, nobis odit fugit cupiditate. Illum ipsam, id mollitia autem animi necessitatibus. Accusamus delectus, atque incidunt voluptate dolores placeat? Asperiores.
                <br>
            </p>
            <div class="auteurart">
                <img src="assets/image/imgclaude1.jpeg" class=" articleimg img-responsive img-circle">
                <h6>Claude AYISSI consultant digital chez legionweb</h6>
            </div>
        </div>
    </div>
    <div class="article">
        <img src="assets/image/inbound.jpg" class="service-img img-responsive">
        <div class="arttexte">
            <h3>L'Inbound du marketing au profit des sales</h3>
            <p>
                <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam pariatur minus, nobis odit fugit cupiditate. Illum ipsam, id mollitia autem animi necessitatibus. Accusamus delectus, atque incidunt voluptate dolores placeat? Asperiores.
                <br>
            </p>
            <div class="auteurart">
                <img src="assets/image/imgclaude1.jpeg" class=" articleimg img-responsive img-circle">
                <h6>Claude AYISSI consultant digital chez legionweb</h6>
            </div>
        </div>
    </div>
</div>