<!-------banner section-------->
<div id="banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 container">
                <br>
                <br>
                <!--<h1>Blog <br>de la performance <br> &nbsp; Marketing et Commerciale
                </h1>-->
            </div>
        </div>

    </div>
</div>
<!--fin banner-->
<div class="contenublog">
    <hr id="hr1">
    <hr id="hr2">
    <hr id="hr3">
    <div class="avantart">
        <div class="firstart">
            <h3>Social Récruiting et social selling index: comment récruiter efficacement?
            </h3>
            <br>
            <p>le social Récruiting s'est imposé comme une méthode éfficace de récrutement sur les réseaux sociaux professionnels.
            </p>
            <br>
            <img src="assets/image/imagesociale.jpg" class="img-resp">
            <div class="auteurart">
                <img src="assets/image/imgclaude1.jpeg" class=" articleimg img-responsive img-circle">
                <h6>Claude AYISSI CEO et Fondateur chez legionweb</h6>
            </div>
        </div>
        <div class="listeart">
            <div class="search">

                <form action="#">
                    <input style="width:325px; margin-bottom:20px; padding:0;" type="text" placeholder=" Rechercher un article" name="search">
                    <button>
                        <i class="fa fa-search"
                            style="font-size: 18px;">
                        </i>
                    </button>
                </form>
            </div>

            <ul>
                <h3>Articles populaires</h3>
                <li class="artli"><a href="">les 6 indicateurs de RH à connaitre</a> </li>
                <li class="artli"><a href="">Transformation Digitale</a> </li>
                <li class="artli"><a href="">Product Market Fit</a> </li>
                <li class="artli"><a href="">Prospection digitale : les bonnes pratiques</a> </li>
                <li class="artli"><a href="">Pourquoi avoir une stratégie social media pour votre entreprise ?</a> </li>
            </ul>
        </div>
    </div>
    <!---------voici la liste des articles ca sera remplacé par 
    le composant articles mais pour l'instant c'est statique-->
    <div class="article">
        <img src="assets/image/marketing.jpg" class=" img-responsive ">
        <div class="arttexte">
            <h3>Product Market Fit
            </h3>
            <p>
                <br> <b>Product market fit</b> est un terme que les startups utilisent beaucoup mais que l’on entend peu par ailleurs. Et pourtant, il est indispensable de placer cette notion au centre de toute stratégie de growth hacking. <br>
            </p>
            <button class="btn-primary">lire la suite ...</button>
            <div class="auteurart">
                <img src="assets/image/imgclaude1.jpeg" class=" articleimg img-responsive img-circle">
                <h6>Claude AYISSI CEO et Fondateur chez legionweb</h6>
            </div>
        </div>
    </div>
    <div class="article" style="background-color:white; filter: brightness(98%);">

        <img src="assets/image/reuissir.jpg" class="service-img img-responsive">
        <div class="arttexte">
            <h3> Les 6 indicateurs RH à connaître absolument</h3>
            <p>
                <br>Le marché du travail a bien changé depuis ces dernières années, le candidat avec lui. Il n'est plus nécessaire d'en convaincre les recruteurs et dirigeants qu'il est temps de changer ses processus de recrutement et dépoussièrer les
                techniques à papa. <br> <br> Recruteurs et Marketeurs se rapprochant de jour en jour, il est dans l'intérêt du service RH de coordonner les metrics et méthodes de reporting confirmées par le marketing depuis des années déjà. <br>
            </p>
            <button class="btn-primary">lire la suite ...</button>
            <div class="auteurart">
                <img src="assets/image/imgclaude1.jpeg" class=" articleimg img-responsive img-circle">
                <h6>Claude AYISSI CEO et Fondateur chez legionweb</h6>
            </div>
        </div>
    </div>
    <div class="article">
        <img src="assets/image/inbound.jpg" class="service-img img-responsive">
        <div class="arttexte">
            <h3> RÉFÉRENCEMENTS NATUREL – SEO: Top 11 des outils SEO pour votre Site</h3>
            <p>
                <br> Il n’existe aucune solution ultime pour le référencement naturel d’un site internet. Néanmoins, s’il existait, le meilleur outil SEO du moment ferait très probablement parti de cette liste. Aussi, ce top reprend des nombreuses solutions
                qui nous utilisons ou avons utilisé pour l’immense majorité.<br>
            </p>
            <button class="btn-primary">lire la suite ...</button>
            <div class="auteurart">
                <img src="assets/image/imgclaude1.jpeg" class=" articleimg img-responsive img-circle">
                <h6>Claude AYISSI CEO et Fondateur chez legionweb</h6>
            </div>
        </div>
    </div>
    <div class="article">
        <img src="assets/image/inbound.jpg" class="service-img img-responsive">
        <div class="arttexte">
            <h3>Pourquoi avoir une stratégie social media pour votre entreprise ?</h3>
            <p>
                <br>De nos jours, l'usage des réseaux sociaux est idéal pour la communication de votre entreprise. Ces supports permettent d'être au plus proche des candidats, et comportent de ce fait de nombreux avantages pour optimiser l'image d'une
                société. <br><br>Votre marque employeur se doit d'être visible par le plus de gens possible. C'est dans ce but que l'inbound recruiting mixe l'approche inbound marketing et les besoins RH.<br>
            </p>
            <button class="btn-primary">lire la suite ...</button>
            <div class="auteurart">
                <img src="assets/image/imgclaude1.jpeg" class=" articleimg img-responsive img-circle">
                <h6>Claude AYISSI CEO et Fondateur chez legionweb</h6>
            </div>
        </div>
    </div>
    <div class="article">
        <img src="assets/image/inbound.jpg" class="service-img img-responsive">
        <div class="arttexte">
            <h3>SEO (Search Engine Optimization) : De quoi s’agit-il ?</h3>
            <p>
                <br> Optimiser son référencement naturel est primordial pour être visible sur le web. Vous aurez beau avoir plus beau site du monde, sans référencement, vous serez noyé parmi les 2,2 millions de requêtes effectuées sur Google. Ainsi, propulser
                votre site sur la première page de Google peut s’avérer la clé pour attirer des prospects de qualité à visiter votre site. En cela, le SEO est un élément décisif pour nous chez LegionWeb et que nous décryptons au cours de ce petit guide.
            </p>
            <button class="btn-primary">lire la suite ...</button>
            <div class="auteurart">
                <img src="assets/image/imgwilly.png" class=" articleimg img-responsive img-circle">
                <h6>Willy KOUAYEP CMO chez legionweb</h6>
            </div>
        </div>
    </div>
    <div class="article">
        <img src="assets/image/inbound.jpg" class="service-img img-responsive">
        <div class="arttexte">
            <h3>La transformation digitale : De quoi s’agit-il ?</h3>
            <p>
                <br> Depuis peu le sujet de la transformation numérique est l'une des principales préoccupations des entreprises. Il ne se passe pas une journée ou presque sans que ce terme ne soit mentionné ou utilisé dans un article de presse ou par
                un blog. Par exemple si vous tapez le mots transformation digitale sur le site des Échos, vous verrez que le nombre d'articles traitant de ce sujet est tout simplement vertigineux.
            </p>
            <button class="btn-primary">lire la suite ...</button>
            <div class="auteurart">
                <img src="assets/image/imgclaude1.jpeg" class=" articleimg img-responsive img-circle">
                <h6>Claude AYISSI CEO et Fondateur chez legionweb</h6>
            </div>
        </div>
    </div>
    <div class="article">
        <img src="assets/image/inbound.jpg" class="service-img img-responsive">
        <div class="arttexte">
            <h3>Prospection digitale : les bonnes pratiques</h3>
            <p>
                <br> La crise sanitaire dans le monde entier a fait des ravages consequents depuis mars 2020 , ce qui a provoqué cependant l’essor massif du télétravail et une explosion du e-commerce. tout ceci révèle donc par la suite d'un puissant accélérateur
                de la digitalisation. de ce fait nous optons pour Les stratégies de prospection qui doivent donc impérativement intégrer une dimension digitale. Comment s’adapter à ce contexte tout en accélérant votre génération d’opportunités et de ventes
                ?
            </p>
            <button class="btn-primary">lire la suite ...</button>
            <div class="auteurart">
                <img src="assets/image/imgpaule.png" class=" articleimg img-responsive img-circle">
                <h6>Paule-Marie EKAM IT Project Manager chez legionweb</h6>
            </div>
        </div>
    </div>
</div>