<!-----------About-us-->
<section id="about-us" class="container-fluid">
  <div class="row">
    <div class="col-md-6">
        <h1>Une extension de votre propre équipe</h1>
        <p>
          Chez DigitaWeb, nous nous engageons aux côtés de 
          nos clients. Nous nous approprions vos objectifs
           pour mettre en place un accompagnement sur-mesure,
            et vous aider à passer un cap.
        </p>
    </div>
    <div class="col-md-6">
      <img src="assets/image/Droomvlucht-logo-small.jpg">
    </div>
    <h1>Have you met the legionweb team?</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <img src="assets/image/Droomvlucht-logo-small.jpg">
        </div>
        <div class="col-md-3">
          <img src="assets/image/Droomvlucht-logo-small.jpg">
        </div>
        <div class="col-md-3">
          <img src="assets/image/Droomvlucht-logo-small.jpg">
        </div>
        <div class="col-md-3">
          <img src="assets/image/Droomvlucht-logo-small.jpg">
        </div>
        <div class="col-md-3">
          <img src="assets/image/Droomvlucht-logo-small.jpg">
        </div>
        <div class="col-md-3">
          <img src="assets/image/Droomvlucht-logo-small.jpg">
        </div>
        <div class="col-md-3">
          <img src="assets/image/Droomvlucht-logo-small.jpg">
        </div>
        <div class="col-md-3">
          <img src="assets/image/Droomvlucht-logo-small.jpg">
        </div>
      </div>
    </div>
  </div>
  </section>