<!-----------About-us-->
<section id="about-us">
    <div class="container">
      <h1 class="title text-center">Why choode us?</h1>
      <div class="row">
       <div class="col-md-6 about-us">
         <p class="about-title">Why we are different</p>
         <ul>
           <li>Believe in doing business with honestly</li>
           <li>Believe in doing business with honestly</li>
           <li>Believe in doing business with honestly</li>
           <li>Believe in doing business with honestly</li>
           <li>Believe in doing business with honestly</li>
           <li>Believe in doing business with honestly</li>
         </ul>
       </div>
       <div class="col-md-6">
         <img class="img-fluid" src="image/" alt="">
       </div>
      </div>
     </div>
  </section>