<div class="container-fluid">
    <div class="row">
        <div class="col-6 ">
            <h1>Quelques belles Success Stories</h1>
            <p>Génération de leads qualités, augmentation du trafic, amélioration SEO, plus de candidatures... Retrouvez ci-dessous quelques études de cas en provenance de nos clients.
            </p>
        </div>
        <div class="col-6">
            <img src="assets/image/Image.png" class="img-fluid img-responsive imgbanner" />
        </div>
    </div>


    <div class="row" style=" justify-content: space-evenly;">
        <app-succes class="col-6"></app-succes>
        <app-succes class="col-6"></app-succes>
        <app-succes class="col-6"></app-succes>
        <app-succes class="col-6"></app-succes>
        <app-succes class="col-6"></app-succes>
        <app-succes class="col-6"></app-succes>
        <app-succes class="col-6"></app-succes>
        <app-succes class="col-6"></app-succes>

    </div>
</div>