<!--------Testimonials-->
<section id="testimonials">
    <div class="container">
     <h1 class="title text-center">What Client say ?</h1>
     <div class="col-md-5 testimonials">
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores totam architecto, placeat rerum fugiat explicabo ipsum, rem minus accusantium eos, vero possimus sequi vel dolorum adipisci
         minima. Iste, Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi necessitatibus dolorum nemo quae unde eum ipsam quidem facilis placeat ad nihil maxime, officiis, laborum cupiditate repellendus expedita
          excepturi inventore blanditiis. expedita nisi?</p>
          <img src="images/ ">
          <p class="user-details"> <b>Angelina</b><br> Co-found at XYZ</p>
     </div>
     <div class="col-md-5 testimonials">
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores totam architecto, placeat rerum fugiat explicabo ipsum, rem minus accusantium eos, vero possimus sequi vel dolorum adipisci
         minima. Iste, Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi necessitatibus dolorum nemo quae unde eum ipsam quidem facilis placeat ad nihil maxime, officiis, laborum cupiditate repellendus expedita
          excepturi inventore blanditiis. expedita nisi?</p>
          <img src="images/ ">
          <p class="user-details"> <b>John Doe</b><br> Director at XYZ at XYZ</p>
     </div>
    </div> 
   </section>