<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <title>6 Indicateurs</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="style.css"> 
    </head>

    <body> -->
        <div class="body">
        <div id="all">
            <div class="section1_indicateurs">
                <div class="container">
                </div>
            </div>

            <div class="section2_indicateurs">
                <div class="container">
                    <div class="btn">
                        <button type="button" [routerLink]="['/blog']" class="btn btn-title7">Retour au blog</button>
                    </div>
                    <div class="cont_article7">
                        <div class="lien7">
                            <a [routerLink]="['/indicateurs']">6 Indicateurs</a>
                        </div>
                        <h1>Les 6 indicateurs RH à connaître absolument</h1>
                        <div class="desc_ceo7">
                            <div class="img_ceo7">
                                <img src="assets/image/imgclaude1.jpeg" alt="imgclaude1.jpeg">
                            </div>
                            <div class="nom_ceo7">Claude AYISSI CEO et Fondateur chez LegionWeb</div>
                        </div>
                        <div class="text_art7">
                            <p>
                                Le marché du travail a bien changé depuis ces dernières années, le candidat avec lui. Il n'est plus nécessaire
                                d'en convaincre les recruteurs et dirigeants qu'il est temps de changer ses processus de recrutement et dépoussièrer les techniques à papa. 
                            </p>
                        </div>
                        <p>
                            Recruteurs et Marketeurs se rapprochant de jour en jour, il est dans l'intérêt du service
                            RH de coordonner les metrics et méthodes de reporting confirmées par le marketing depuis des années déjà.
                        </p>
                        <p>La force d'une stratégie marketing efficace se tire pour beaucoup de la capacité à lire la donnée, l'interpréter et d'agir en fonction des résultats collectés.</p>
                        <p>Recruteuses, recruteurs : la data a beaucoup à vous apporter !</p>
                        <div>
                            <h4>New call-to-action</h4>
                            <p>
                                Indicateurs RH, qu'est-ce que c'est ?<br>
                                Nommé KPI en marketing ou Key Performance Indicator (indicateurs clés de performance) il permet de piloter et de mesurer
                                l'efficacité d'une campagne (de recrutement, de communication, de fidélisation ...). Il est important de fixer ces indicateurs
                                de performance en amont du lancement de la campagne. Ils peuvent même guider le choix dans les actions pour atteindre le meilleur objectif.
                            </p>
                            <p>
                                Fixer des actions/palliers du processus RH à mesurer, tel que le nombre de CV reçus et le nombre d'entretiens réalisés,
                                permet in fine de calculer le ROI (Return On Invest = Retour Sur Investissement) des actions menées. L'idée n'est pas de fliquer,
                                bien au contraire. Récolter les données liées à l'ensemble des étapes du processus de recrutement (de la publication de l'offre à l'intégration
                                du nouveau salarié à +1 an) permettra de détecter les points bloquants et les leviers qui fonctionnent plus que les autres. Vos efforts de recrutement
                                pourront donc être réorganisés afin d'atteindre un schéma de recrutement plus performant à chaque optimisation de celui-ci.
                            </p>
                        </div>
                        <div>
                            <h4>kpi-indicateur-rh</h4>
                            <p>
                                Les 6 principaux indicateurs RH<br>
                                Le processus de recrutement démarre à l'ouverture d'une offre d'emploi (ou l'ouverture d'un poste)
                                et se clôt à l'embauche du profil correspondant aux besoins recherchés pour répondre aux missions du poste. Entre ces deux étapes RH,
                                se trouvent une multitude d'actions mesurables pour en tirer les points forts et points faibles dans l'optique d'optimiser chaque étape du processus de recrutement.
                            </p>
                            <p>
                                Par exemple, un turnover (ou Taux de qualité de recrutement) haut peut être la résultante logique de mauvais recrutements réalisés en chaîne. Vous connaissez
                                le prix d'un recrutement, et tout le monde a conscience que cela coûte cher et peut faire perdre beaucoup à la société si celui-ci est un échec.
                            </p>
                            <p>
                                Les données testées et approuvées par le marketing lui permettant d'être performant d'année en année ne doivent plus être le
                                "précieux" des marketeurs. Voici donc les 6 principaux indicateurs / KPI à suivre en recrutement.
                            </p>
                        </div>
                        <div>
                            <h2>Besoin en recrutement</h2>
                            <p>
                                KPI recrtuement à fixer sur une année de préférence, celui-ci va guider l'ensemble des chargé(e)s de recrutement. Tout le monde aura un objectif commun
                                (recruter 200 personnes en 2018). Cet indicateur, au-delà de donner un objectif déterminé à l'avance, commun et divulgué à toutes les personnes concernées,
                                va aussi être en lien étroit avec le besoin de CV à générer (comme il vous l'est expliqué par un exemple avec le 2eme indicateur).
                            </p> 
                        </div>
                        <div>
                            <h2>Pipeline de Candidats</h2>
                            <p>
                                Un exemple étant toujours plus clair qu'une longue description, voici une mise en situation d'un besoin en recrutement :
                                Je suis un cabinet de conseil, j'ai besoin de recruter 200 experts consultants en 2018. Les recruteurs vont donc publier
                                les offres d'emploi sur les Job Boards, le site carrière, les réseaux sociaux et pousser ses collaborateurs à la cooptation par des e-mails internes.
                                Je reçois, par mois, 280 CV qui se transforment 90 entretiens exploratoires au téléphone, puis 30 entrevues pour 12 embauchés.
                            </p>
                            <p>Il me faut donc un pipeline de 280 CV pour recruter 12 personnes</p>
                            <h4>New call-to-action</h4>
                        </div>
                        <div>
                            <h2>Nombre d'entretiens menés</h2>
                            <p>
                                Recevoir des CV c'est top, cela indique que les gens veulent bosser pour votre entreprise. Mais, entre le moment où ils postulent et l'entretien
                                exploratoire, il peut se passer un certain lapse de temps (plus ou moins long). C'est dans les premières 24h à 7 jours que vous allez perdre les
                                meilleurs candidats et que vos concurrents vont les récupérer, en vous passant sous le nez.
                            </p>
                            <p>
                                Vous cherchez le mouton à cinq pates, comme toutes les autres entreprises. Vous devez alors séduire les candidats et leur donner l'envie et la curiosité
                                d'attendre l'entretien. Votre taux de "rétention des postulants" est déjà une première étape où il faudra performer.
                            </p>
                        </div>
                        <div>
                            <h2>Délais du processus de recrutement</h2>
                            <p>Le temps écoulé entre l’expression du besoin (ou de la publication de l'offre sur le web) et l’intégration de la nouvelle recrue est un indicateur vous permettant de savoir :</p>
                            <ul>
                                <li>le temps actuel requis pour recruter (1 mois, 2 mois, 6 mois ...)</li>
                                <li>les moment latences (entre dépôt du CV, entretien téléphonique, entretien phisique, intégration...)</li>
                            </ul>
                        </div>
                        <div>
                            <h2>Qualité de la source (de provenance de vos candidats)</h2>
                            <p>
                                La qualité de la source de vos CV est primordiale, pas besoin d'expliquer l'avantage de savoir où "mettre les Watt" et le budget plutôt que d'aller sur les process et CVthèques basiques
                                (Monster, Apec etc) car "c'est là qu'il faut être" et que "c'est comme ça qu'on a toujours fait donc c'est que ça marche". STOOP ! Testez où ça marche POUR VOUS. Car oui les job boards ultra
                                connus sont attirants (et chers) mais il existe de multiples sites et logiciels beaucoup plus adaptés à certains secteurs et types de postes. En vous cantonnant aux process RH scolaires, vous
                                perdez votre argent à rester sur les canaux standards qui ne sont peut-être pas faits pour vous.
                            </p>
                            <p>
                                Alors aidez-vous des metrics de provenance de vos CV pour prendre vos décisions RH et optimiser votre process de recrutement. Linkedin ne vous apporte
                                peut-être pas tant de CV / d'employés que Twitter, pour les poste en marketing digital (je pose ça là comme ça).
                            </p>
                        </div>
                        <div>
                            <h2>Qualité du recrutement (ou Turnover / ou taux d'attrition)</h2>
                            <p>
                                Savoir combien de nouveaux employés sur l'année N sont encore en poste l'année N+1 va permettre de connaître votre taux de réussite (ou d'échec) d'embauche,
                                de voir si tout le monde part après un an si c'est une tendance récurrente ou juste une mauvaise cuvée de candidats employés ...
                                Vous pourrez même remonter au chargé de recrutement, si l'ensemble des personnes embauchées par celui-ci sont toujours en poste 2 ans
                                plus tard c'est que cette personne est un très bon élément pour votre équipe et la société.
                            </p>
                        </div>
                        <div>
                            <h4>inbound-rh</h4>
                            <span class="liste">Liste complète des KPI en recrutement</span>
                            <p>
                                Afin de compléter votre analyse des actions RH, dans le but d'améliorer les blocs freinant une performance optimale,
                                voici une liste plus complète d'autres indicateurs pouvant vous permettre d'en savoir plus sur vos succès et échecs.
                                Ces données sont à comparer dès que possible avec l'année ou le mois précédent, et ainsi pouvoir noter les évolutions
                                réalisées par le pôle RH notamment grâce à ses actions d'inbound recruiting (par exemple).
                            </p>
                            <ul>
                                <li>Moyennes des CV traités par recruteur</li>
                                Mesurer le volume des CV traités par les CR (Chargé de Recrutement) en moyenne sur une base individuelle.
                                <li>Satisfaction du processus de recrutement </li>
                                Mesurer, d'après un questionnaire, le niveau de satisfaction générale liée au processus de recrutement auprès des nouveaux employés recrutés.
                                <li>Taux d'embauche externe </li>
                                Mesure le pourcentage d'emplois externes par rapport au nombre total d'employés.
                                <li>Taux d'embauche interne (cooptation ou mobilité interne)</li>
                                Mesurer le pourcentage d'emplois générés par al cooptation et par la mobilité interne, par rapport au nombre total d'employés.
                                <li>Ratio net recrutements</li>
                                Mesurer le taux de remplacement des postes vacants
                                <li>% Taux de recrutement pour des créations de postes</li>
                                Mesurer le pourcentage d'emplois internes et externes sur les postes nouvellement créés sur le nombre total de postes existants
                                <li>Nouveau ratio de recrutement de postes</li>
                                Mesurer le solde entre les nouvelles positions et le nombre d'individus engagés sur les postes de remplacement.
                                <li>Pipeline de candidats par secteur / typologie (junior/senior) / service ...</li>
                                Mesurer le nombre moyen de candidats par poste ouvert.
                            </ul>
                        </div>
                        <p>
                            Devant une augmentation de la concurrence sur certains profils "pénuriques", les entreprises doivent s'armer pour recruter
                            les talents dont ils ont besoin. Pour cela, ils peuvent s'inspirer de la méthodologie Inbound Marketing qui offre de nombreuses
                            solutions pour améliorer les performance des campagnes de recrutement.
                        </p>
                        <p>recruteur-digital</p>
                    </div>
             </div>
        </div>
    </div>
    <!-- </body>
</html> -->