<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 img-responsive imgcont">
            <img src="assets/image/imgent1.jpg" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-2 img-responsive imgcont">
            <img src="assets/image/imgent2.jpg" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-2 img-responsive imgcont">
            <img src="assets/image/imgent3.jpg" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-2 img-responsive imgcont">
            <img src="assets/image/imgent4.jpg" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-2 img-responsive imgcont">
            <img src="assets/image/imgent5.png" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-2 img-responsive imgcont">
            <img src="assets/image/imgent6.png" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-2 img-responsive imgcont">
            <img src="assets/image/imgent7.png" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-2 img-responsive imgcont">
            <img src="assets/image/imgent8.jpg" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-2 img-responsive imgcont">
            <img src="assets/image/imgent9.jpg" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-2 img-responsive imgcont">
            <img src="assets/image/imgent10.jpg" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-2 img-responsive imgcont">
            <img src="assets/image/imgent11.jpg" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-2 img-responsive imgcont">
            <img src="assets/image/imgent12.jpg" class="img-fluid img-responsive imgbanner" />
        </div>
    </div>

</div>