<section id="equipe_complete">
    <div id="sect1" class="container-fluid">
        <div class="container row">
            <div class="col-12 col-md-6 order-2 order-md-1 text_equi">
                <div class="d-sm-none">
                    <br><br><br><br>
                </div>
                <h1>Une extension de votre propre équipe</h1>
                <div class="trait_text">
                    <div class="trait_equi"></div>
                    <p class="text_digi">
                        Chez LegionWeb, nous nous engageons aux côtés de nos clients. Nous nous approprions vos objectifs pour mettre en place un accompagnement sur-mesure, et vous aider à passer un cap.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6 order-1 order-md-2 team_img">
                <img src="assets/image/imgteam.jpeg" class="equipe" alt="imgteam.jpeg" />
            </div>
        </div>
    </div>
    <div id="sect2">
        <div class="container-fluid">
            <div class="div_lw">
                <div class="trait_h2"></div>
                <h2>Have you met the Legion Team?</h2>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3">
                        <img src="assets/image/imgclaude0.png" alt="imgclaude.png" />
                        <p class="fonction">CEO & Fondateur</p>
                        <div id="digi_team">
                            <p class="name">Claude Jordan Ayissi</p>
                            <a class="linkedin" href="https://www.linkedin.com/in/claude-jordan-ayissi-98926719a"></a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <img src="assets/image/imgpaule.png" alt="imgpaule.png" />
                        <p class="fonction">COO</p>
                        <div id="digi_team">
                            <p class="name">Ekam Paule-Marie</p>
                            <a class="linkedin" href="https://www.linkedin.com/in/paule-marie-agnes-ekam-957494170"></a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <img src="assets/image/imgderrick.png" alt="imgderrick.png" />
                        <p class="fonction">CTO</p>
                        <div id="digi_team">
                            <p class="name">Derrick Teta</p>
                            <a class="linkedin" href="https://www.linkedin.com/in/tcheujo-teta-19a106193"></a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <img src="assets/image/imgraissa.png" alt="imgraissa.png" />
                        <p class="fonction">D-RH</p>
                        <div id="digi_team">
                            <p class="name">Fasse Beleme Inès</p>
                            <a class="linkedin" href="mailto"></a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <img src="assets/image/imgnelly.png" alt="imgnelly.png" />
                        <p class="fonction1">UX / UI Designer</p>
                        <div id="digi_team">
                            <p class="name">Guechoun Nelly Stella</p>
                            <a class="linkedin" href="http://www.linkedin.com/in/nelly-stella-guechoun-chiogo-8435a01b9"></a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <img src="assets/image/imgmaldini.jpg" alt="imgmaldini.jpg">
                        <p class="fonction1">Développeur Full stack</p>
                        <div id="digi_team">
                            <p class="name">Maldini Gahanou</p>
                            <a class="linkedin" href="https://www.linkedin.com/in/maldini-demanou-gahanou-6295aa210"></a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <img src="assets/image/imgcyril.png" alt="imgcyril.png">
                        <p class="fonction1">Digital Strategist</p>
                        <div id="digi_team">
                            <p class="name">Cyrille Yanda</p>
                            <a class="linkedin" href="https://www.linkedin.com/mwlite/in/cyrille-yanda-28b1006b"></a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 img_wi">
                        <img src="assets/image/imgfelix.jpg" alt="imgwilly.jpg" />
                        <p class="fonction1">Graphiste</p>
                        <div id="digi_team">
                            <p class="name">Felix Achile Mpareto</p>
                            <a class="linkedin" href="https://www.linkedin.com/in/willy-kouayep"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="client">

        <div style="display:flex">
            <div class="trait1">
            </div>
            <h2>Nos clients</h2>
        </div>
        <br>
        <app-client></app-client>
    </div>
    <div class="parlent">
        <app-parlentdenous></app-parlentdenous>
    </div>
    <div class="discuter" id="discuter">
        <app-discuter></app-discuter>
    </div>
</section>