    #sect1 {
        background: #F5F6FC;
        padding: 4%;
    }
    
    #sect1 .text_cont .trait_text {
        margin-top: 50px;
    }
    
    #sect1 .text_cont .text_digi {
        display: inline-block;
        vertical-align: top;
        max-width: 500px;
        line-height: 30px;
    }
    
    .trait_equi {
        display: inline-block;
        width: 45px;
        height: 3px;
        background: #3b4654;
        margin-right: 30px;
    }
    
    .div_equipe img {
        width: 500px;
    }
    
    #sect2 {
        background: #FAFAFD;
        padding-top: 100px;
    }
    
    #sect2 .div_lw {
        margin-left: 100px;
    }
    
    #sect2 .trait_h2 {
        display: inline-block;
        width: 45px;
        height: 3px;
        background: #3b4654;
        margin-right: 10px;
    }
    
    #sect2 h2 {
        font-family: 'LatoBlack', sans-serif !important;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 60px;
    }
    
    .row .col-md-3 img {
        width: 100%;
    }
    
    .col-md-3 {
        margin-bottom: 30px;
    }
    
    #digi_team {
        padding-top: 30px;
    }
    
    #digi_team .name {
        float: left;
        font-size: 23px;
        color: #040e47;
        font-family: 'LatoBlack', sans-serif;
        font-weight: bold;
    }
    
    #digi_team .linkedin {
        float: right;
        vertical-align: top;
        background: url(../../../assets/image/icone_linkedin.jpg) center center no-repeat;
        background-size: contain;
        width: 25px;
        height: 25px;
    }
    
    .row .img_wi img {
        height: 87%;
    }
    
    .row .fonction {
        display: none;
        position: absolute;
        width: 93%;
        height: 15%;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: white;
        background-color: #040e47;
        opacity: 0.9;
        top: 422px;
        padding-top: 33px;
    }
    
    .row .col-md-3 {
        position: relative;
    }
    
    #sect2 .col-md-3:hover .fonction {
        display: block;
    }
    
    .row .fonction1 {
        display: none;
        position: absolute;
        width: 93%;
        height: 15%;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: white;
        background-color: #040e47;
        opacity: 0.9;
        top: 434px;
        padding-top: 33px;
    }
    
    #sect2 .col-md-3:hover .fonction1 {
        display: block;
    }
    
    .equipe {
        display: flex;
        width: 100%;
        height: 100%;
    }