<div id="section1c">
    <div class="">
        <h1>Propulser votre acquisition de <br> leads</h1>
        <div>
            <div><img src="assets/image/trait.png" alt="trait.png" /></div>
            <p>
               Objectif de la phase : Alimenter votre entonnoir de conversion <br>
               avec de nouveaux prospects qualifiés
            </p>
        </div>
        <p> 
           SEO - SEA - Content Marketing - Social Media & Ads - eMailing - <br>
           Growth hacking
        </p> 
        <button type="button" class=""> Commencez maintenant</button>
    </div>
    <div class="">
        <img src="assets/image/imageatlantic.png" alt="imageatlantic.png" />
    </div>
</div>

<div id="section2c">
    <div class="">
        <div>
            <div><img src="assets/image/trait.png" alt="trait.png" /></div>
            <p>Reach Escape Velocity</p>
        </div>
        <div>
            <h2>Propulser votre Acquisition</h2>
            <p>
               L'attention des internautes est un bien de plus en plus rare. Attirer celle de <br>
               vos futurs clients demande des contenus originaux et à forte valeur <br>
               ajoutée, associé à une diffusion ciblée et continue.
            </p>
            <p>
               Nous vous aidons à développer et diversifier vos canaux d'acquisition de <br>
               leads, ainsi qu'à construire une stratégie de Content Marketing qui vous <br>
               fera sortir du lot.
            </p>
        </div>
    </div>

    <div>
        <div><img src="assets/image/imagepromotion.png" alt="imagepromotion.png" /></div>
        <h2>SEO</h2>
        <div>
            <p>
               Le référencement naturel (ou SEO) est incontestablement le levier d'acquisition <br>
               le plus puissant... mais vous n'êtes pas <br>
               seul à le savoir !
            </p>
            <p>
               Nous vous aidons à investir sur les bons <br>
               mots-clés pour gagner des positions <br>
               stratégiques dans les résultats de <br>
               recherche (SERPs).
            </p>
        </div>
    </div>
    <div>
        <div><img src="assets/image/imagepromotion.png" alt="imagepromotion.png" /></div>
        <h2>SEA</h2>
        <div>
            <p>
               Acheter des mots-clés ou du Display sur <br>
               Google c'est devenu simple comme <br>
               "Bonjour". Rentabiliser son <br>
               investissement, l'est beaucoup moins.
            </p>
            <p>
               Nous optimisons vos campagnes de <br>
               référencement payant pour améliorer <br>
               vos résultats et réduire votre coût <br>
               d'acquisition.
            </p>
        </div>
    </div>
    <div>
        <div><img src="assets/image/imagepromotion.png" alt="imagepromotion.png" /></div>
        <h2>Content marketing</h2>
        <div>
            <p>
               Le contenu est le carburant de votre <br> propulsion.
            </p>
            <p>
               Articles de blog, publications sociales, <br>
               contenus téléchargeables, infographies, <br>
               vidéos... Nous élaborons avec vous des <br>
               contenus qui attirent et engagent vos <br>
               clients potentiels.
            </p>
        </div>
    </div>
    <div>
        <div><img src="assets/image/imagepromotion.png" alt="imagepromotion.png" /></div>
        <h2>Social Media</h2>
        <div>
            <p>
               Les réseaux sociaux représentent un <br>
               espace de choix pour diffuser vos <br>
               contenus de façon ciblée. Mais ils se <br>
               révèlent également précieux pour <br>
               rechercher et prospecter des clients <br>
               potentiels grâce aux informations <br>
               disponibles dans leurs profils.
            </p>
            <p>
               Nous vous aidons à tirer partie des <br>
               nombreuses fonctionnalités offertes par <br>
               les réseaux sociaux pour trouver vos <br>
               prospects et engager la conversation.
            </p>
        </div>
    </div>
    <div>
        <div><img src="assets/image/imagepromotion.png" alt="imagepromotion.png" /></div>
        <h2>Social Ads</h2>
        <div>
            <p>
               Vous l'aurez remarqué, la portée <br>
               naturelle des publications sociales tend à <br>
               diminuer. En contrepartie, les <br>
               algorithmes des plateformes publicitaires <br>
               des principaux réseaux sociaux sont <br>
               arrivés à maturité... et ce n'est pas une <br>
               mauvaise idée de les mettre à profit.
            </p>
            <p>
               Nous vous aidons à booster le reach de <br>
               vos publications et à optimiser votre <br>
               budget Social Ads.
            </p>
        </div>
    </div>
    <div>
        <div><img src="assets/image/imagepromotion.png" alt="imagepromotion.png" /></div>
        <h2>eMailing</h2>
        <div>
            <p>
               Qui a dit que l'eMail Marketing était mort ?
            </p>
            <p>
               Nous vous aidons à capter l'attention de <br>
               votre audience cible avec des campagnes <br>
               d'emails ciblées, personnalisées et <br>
               pertinentes. Comme vous, il est fort <br>
               probable que vos clients potentiels <br>
               consultent plusieurs fois par jour leurs <br>
               boites de réception.
            </p>
        </div>
    </div>
    <div>
        <div><img src="assets/image/imagepromotion.png" alt="imagepromotion.png" /></div>
        <h2>Growth Hacking</h2>
        <div>
            <p>
               Et si le Web était votre base de données ?
            </p>
            <p>
               Nous vous aidons à identifier les <br>
               opportunités qui dorment sur l'espace <br>
               Web pour capter de nouveaux prospects. <br>
               Vous êtes peut-être à un bout de code <br>
               d'une mine d'or !
            </p>
        </div>
    </div>
</div>