<div id="section1c">
    <div class="container">
        <div id="acquis">
            <h1>Propulser votre acquisition de <br> leads</h1>
            <div>
                <div class="trait3"></div>
                <p id="text_acquis" class="para_acquis">
                   <span class="objet_acquis">Objectif de la phase</span> : Alimenter votre entonnoir de conversion <br>
                   avec de nouveaux prospects qualifiés
                </p>
            </div>
            <p class="para_acquis"> 
               SEO - SEA - Content Marketing - Social Media & Ads - eMailing - <br>
               Growth hacking
            </p> 
            <a href="#" title="COMMENCEZ MAINTENANT">
                <button type="button" class="button_com">Commencez maintenant</button>
            </a>
        </div>
        <div id="img_acquis">
            <img src="assets/image/imgacquisition.jpg" alt="imgacquisition.jpg" />
        </div>
        <div id="trait_m"></div>
    </div>
</div>
<div id="section2c" class="setting_section">
    <div class="container">   
        <div class="text_intro">
            <div class="trait_h2"></div>
            <h2 class="reach"><span style="font-size: 0.7em !important; color: #5e86db !important;">Reach Escape Velocity </span><br>Propulser votre Acquisition</h2>
            <p>L'attention des internautes est un bien de plus en plus rare. Attirer celle de vos futurs clients demande des contenus originaux et à forte valeur ajoutée, associé à une diffusion ciblée et continue.</p>
            <p>&nbsp;</p>
            <p>Nous vous aidons à développer et diversifier vos canaux d'acquisition de leads, ainsi qu'à construire une stratégie de Content Marketing qui vous fera sortir du lot.</p>
        </div>

        <div class="row">
            <div class="col_sect col-12 col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="content_sect"> 
                    <div class="img">
                        <img src="assets/image/seo2.png" alt="seo2.png" />
                    </div>
                    <div class="text">
                       <h3 style="margin-bottom: 20px; margin-top: 30px; color: #040e47; font-weight: bold">SEO</h3>
                       <p>Le référencement naturel (ou SEO) est incontestablement le levier d'acquisition le plus puissant... mais vous n'êtes pas seul à le savoir !</p>
                       <p>&nbsp;</p>
                       <p>Nous vous aidons à investir sur les bons mots-clés pour gagner des positions stratégiques dans les résultats de recherche (SERPs).</p>
                    </div>
                    <div class="bas_section">
                    </div>
                </div>
            </div>
            <div class="col_sect col-12 col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="content_sect">  
                    <div class="img">
                        <img src="assets/image/sea1.png" alt="sea1.g" />
                    </div>            
                    <div class="text">
                      <h3 style="margin-bottom: 20px; margin-top: 30px; color: #040e47; font-weight: bold">SEA</h3>
                      <p>Acheter des mots-clés ou du Display sur Google c'est devenu simple comme "Bonjour". Rentabiliser son investissement, l'est beaucoup moins.</p>
                      <p>&nbsp;</p>
                      <p>Nous optimisons vos campagnes de référencement payant pour améliorer vos résultats et réduire votre coût d'acquisition.</p>
                    </div> 
                    <div class="bas_section">
                    </div>
                </div>
            </div>
            <div class="col_sect col-12 col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="content_sect">
                    <div class="img">
                        <img src="assets/image/content1.png" alt="content1.png" />
                    </div>
                    <div class="text">
                      <h3 style="margin-bottom: 20px; margin-top: 30px; color: #040e47; font-weight: bold">Content marketing</h3>
                      <p>Le contenu est le carburant de votre propulsion.</p>
                      <p>&nbsp;</p>
                      <p>Articles de blog, publications sociales, contenus téléchargeables, infographies, vidéos... Nous élaborons avec vous des contenus qui attirent et engagent vos clients potentiels.</p>
                    </div>
                    <div class="bas_section">    
                    </div>
                </div>
            </div>
            <div class="col_sect col-12 col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="content_sect"> 
                    <div class="img">
                        <img src="assets/image/social1.png" alt="social1.png" />
                    </div>  
                    <div class="text">
                      <h3 style="margin-bottom: 20px; margin-top: 30px; color: #040e47; font-weight: bold">Social Media</h3>
                      <p>Les réseaux sociaux représentent un espace de choix pour diffuser vos contenus de façon ciblée. Mais ils se révèlent également précieux pour rechercher et prospecter des clients potentiels grâce aux informations disponibles dans leurs profils.</p>
                      <p>&nbsp;</p>
                      <p>Nous vous aidons à tirer partie des nombreuses fonctionnalités offertes par les réseaux sociaux pour trouver vos prospects et engager la conversation.</p>
                    </div>
                    <div class="bas_section">   
                    </div>
                </div>
            </div> 
            <div class="col_sect col-12 col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="content_sect"> 
                    <div class="img">
                        <img src="assets/image/ads1.png" alt="ads1.png" />
                    </div>
                    <div class="text">
                       <h3 style="margin-bottom: 20px; margin-top: 30px; color: #040e47; font-weight: bold">Social Ads</h3>
                       <p>Vous l'aurez remarqué, la portée naturelle des publications sociales tend à diminuer. En contrepartie, les algorithmes des plateformes publicitaires des principaux réseaux sociaux sont arrivés à maturité... et ce n'est pas une mauvaise idée de les mettre à profit.</p>
                       <p>&nbsp;</p>
                       <p>Nous vous aidons à booster le reach de vos publications et à optimiser votre budget Social Ads.</p>
                    </div>
                    <div class="bas_section">  
                    </div>
                </div>
            </div>
            <div class="col_sect col-12 col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="content_sect">  
                    <div class="img">
                       <img src="assets/image/emailing1.png" alt="emailing1.png" />
                    </div>     
                    <div class="text">
                      <h3 style="margin-bottom: 20px; margin-top: 30px; color: #040e47; font-weight: bold">eMailing</h3>
                      <p>Qui a dit que l'eMail Marketing était mort ?</p>
                      <p>&nbsp;</p>
                      <p>Nous vous aidons à capter l'attention de votre audience cible avec des campagnes d'emails ciblées, personnalisées et pertinentes. Comme vous, il est fort probable que vos clients potentiels consultent plusieurs fois par jour leurs boites de réception.</p>
                    </div>
                    <div class="bas_section">     
                    </div>
                </div>
            </div>
            <div class="col_sect col-12 col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="content_sect">
                    <div class="img">
                        <img src="assets/image/hacking1.png" alt="hacking1.png" />
                    </div>
                    <div class="text">
                      <h3 style="margin-bottom: 20px; margin-top: 30px; color: #040e47; font-weight: bold">Growth Hacking</h3>
                      <p>Et si le Web était votre base de données&nbsp;?</p>
                      <p>&nbsp;</p>
                      <p>Nous vous aidons à identifier les opportunités qui dorment sur l'espace Web pour capter de nouveaux prospects. Vous êtes peut-être à un bout de code d'une mine d'or&nbsp;!</p>
                    </div>  
                    <div class="bas_section">
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>

