.container
    {
		max-width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
        font-size: initial !important;
    }
    #section1c
    {
        padding: 100px 0px 150px 80px;
        background: #F5F6FC;
    }
    .row .img_acquis img
    {
        width: 500px;
    }
    #section1c .row .img_acquis 
    {
        margin-top: -40px;
    }
    .acquis h1
    {
        font-family: 'LatoBlack',sans-serif !important;
        font-size: 40px !important; 
        color: #040e47;
        margin-bottom: 30px;
        font-weight: bold;
    }
    .trait3
    {
        display: inline-block;
        width: 33px;
        height: 3px;
        background: #3b4654;
        border-radius: 50px;
    }
    #text_acquis
    {
        display: inline-block;
        vertical-align: top;
        margin-left: 30px;
        line-height: 30px;
    }
    .objet_acquis
    {
        font-weight: bold;
        color: #3b4654;
        font-size: 18px;
    }
    .para_acquis
    {
        color: #3b4654;
        font-size: 18px;
        line-height: 30px;
    }
    #section2c 
    {
        background: #FAFAFD;
    }
    #section2c
    {
        padding: 40px 0px 100px;
    }
    .setting_section
    {
        padding: 50px 0;
    }
    #section2c .text_intro 
    {
        max-width: 560px;
        margin-bottom: 100px;
    }
    #section2c h2.reach
    {
        font-weight: bold;
        padding-bottom: 40px;
        display: inline-block;
        vertical-align: top;
    }
    #section2c .trait_h2
    {
        display: inline-block;
        width: 45px;
        height: 2px;
        background: #040e47;
        margin-right: 15px;
        margin-top: 22px;
    }
    #section2c .row 
    {
        justify-content: center;
    }    
    #section2c .col_sect 
    {
        margin-bottom: 20px;
    }
    #section2c .content_sect
    {
        max-width: 400px;
        background: #fff;
        height: 100%;
        box-shadow: 0px 3px 6px #dbe3ea;
        padding: 37px 23px 100px 33px;
        position: relative;
        margin: 0 auto;
    }
    #section2c .bas_section 
    {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }