<div id="section1b">
    <div class="container">
        <div id="entonoir1">
            <h1>Construire votre entonnoir de <br> conversion</h1>
            <div id="img_text">
                <div class="trait2"></div>
                <p class="text_trait paraobjet">
                    <span class="objet">Objectif de la phase</span> : Améliorer l’aérodynamisme de vos <br>
                   dispositifs d'acquisition
                </p>
            </div>
            <p> 
               Inbound Marketing - Site Web - Landing pages - Marketing <br>
               Automation - Scoring - Sales Enablement 
            </p> 
            <button type="button" class="button_com"> Commencez maintenant</button>
        </div>
        <div id="imgentonoir1">
            <img src="assets/image/imageatlantic.png" alt="imageatlantic.png" />
        </div>
    </div>
</div>
