    #section1b {
        padding: 120px 0px 50px 100px;
        background: #F5F6FC;
    }
    
    #section1b .img_ento img {
        width: 450px;
        margin-top: -90px;
        display: flex;
        justify-content: flex-start;
    }
    
    #section1b .img_ento {
        display: flex;
        align-items: center;
        justify-content: center;
        right: 20px;
    }
    
    #section1b .text_ento h1 {
        font-family: 'LatoBlack', sans-serif !important;
        font-size: 40px !important;
        color: #040e47;
        margin-bottom: 30px;
        font-weight: bold;
    }
    
    #section1b .text_ento {
        margin-top: -40px;
    }
    
    .trait2 {
        display: inline-block;
        width: 45px;
        height: 3px;
        background: #3b4654;
        border-radius: 50px;
    }
    
    .text_trait {
        display: inline-block;
        vertical-align: top;
        margin-left: 30px;
        line-height: 30px;
    }
    
    .objet {
        font-weight: bold;
        color: #3b4654;
        font-size: 18px;
    }
    
    .paraobjet {
        color: #3b4654;
        font-size: 18px;
        line-height: 35px;
    }
    
    #section2b,
    #section2b .row:last-of-type {
        background: #FAFAFD;
    }
    #section2b 
    {
        margin-left: 100px;
    }
    .setting_sect {
        padding: 50px 0;
    }
    
    #section2b .text_intro {
        max-width: 650px;
        margin-bottom: 100px;
    }
    
    h2.titre {
        padding-left: 55px;
        margin-bottom: 40px;
        font-weight: bold;
    }
    
    h2,
    h2 span {
        color: #040e47;
        font-family: 'LatoBlack', sans-serif !important;
        line-height: 36px;
        position: relative;
    }
    
    h2.titre:before {
        content: "";
        position: absolute;
        left: 0px;
        width: 45px;
        height: 3px;
        background: #040e47;
        top: 20px;
        border-radius: 50px;
    }
    
    #section2b .text_intro {
        max-width: 650px;
        margin-bottom: 100px;
    }
    
    #section2b .lexique_ento {
        font-weight: bold;
    }
    
    #section2b .content_sect {
        position: relative;
    }
    
    #section2b .content_sect:before {
        content: '';
        position: absolute;
        background-size: 77%;
        border-right: 3px dashed #8796aa;
        top: 20px;
        bottom: 40px;
        right: 49.7%;
        width: 2px;
        animation: translateY 2s linear infinite;
    }
    
    #section2b .row.right {
        flex-direction: row-reverse;
    }
    
    #section2b .row {
        position: relative;
        padding-bottom: 135px;
    }
    
    #section2b .row.right .col_sect {
        padding-left: 85px;
    }
    
    #section2b .row.right .icon {
        position: absolute;
        left: -66px;
        z-index: 9;
    }
    
    h3,
    h3 span {
        font-family: 'LatoBlack', sans-serif !important;
        font-weight: bold;
    }
    
    #section2b .row {
        position: relative;
        padding-bottom: 135px;
    }
    
    #section2b .row.left .col_sect {
        padding-right: 85px;
    }
    
    #section2b .row.left .icon {
        position: absolute;
        right: -66px;
        z-index: 9;
    }
    
    #section2b .row.left .text {
        text-align: right;
    }
    
    @media screen and (max-width: 767px) 
    {
        #section2b .content_sect:before 
        {
            display: none;
        }
        #section1b .img_ento
        {
            right: 0;
        }
        #section1b .img_ento img
        {
            width: 300px;
        }
    }