<div id="section1b">
    <div class="container">
        <div id="entonoir1">
            <h1>Construire votre entonnoir de <br> conversion</h1>
            <div id="img_text">
                <div class="trait2"></div>
                <p class="text_trait paraobjet">
                    <span class="objet">Objectif de la phase</span> : Améliorer l’aérodynamisme de vos <br>
                   dispositifs d'acquisition
                </p>
            </div>
            <p> 
               Inbound Marketing - Site Web - Landing pages - Marketing <br>
               Automation - Scoring - Sales Enablement 
            </p> 
            <a href="#" title="COMMENCEZ MAINTENANT">
                <button type="button" class="button_com">Commencez maintenant</button>
            </a>
        </div>
        <div id="imgentonoir1">
            <img src="assets/image/imgentonnoir.png" alt="imgentonnoir.png" />
        </div>
    </div>
</div>

<div id="section2b" class="setting_sect">
    <div class="container">     
        <div class="text_intro">
            <h2 class="titre"><span style="font-size: 0.7em !important; color: #5e86db !important;">Reach Escape Velocity </span><br>Votre Entonnoir de Conversion</h2>
            <div class="text_intro">
                <p class="lexique_ento">Atteindre l'Escape Velocity nécessite d'optimiser la conversion du visiteur en prospect qualifié, puis en client, et enfin en promoteur.</p>
                <p>Nous vous aidons à rendre votre entonnoir de conversion aérodynamique. C'est à dire à supprimer les frictions et à fluidifier le parcours client. Et ce, peu importe le point de contact avec votre entreprise.</p>
            </div>
        </div>    
        <div class="content_sect">   
            <div class="row right">
                <div class="col_sect col-12 col-md-6">
                   <div class="icon" style="background: url(assets/image/imgqualifier.png) center center no-repeat;background-size:contain;width:132px;height:132px;"></div>
                   <div class="text">
                      <h3 style="margin-bottom: 25px; color: #040e47;">Qualifier votre audience, identifier vos prospects</h3>
                      <p>Nous vous aidons à élaborer des éléments de conversion qui incitent vos visiteurs à engager la discussion avec votre marque.</p>
                      <p>Vous recueillez dans votre CRM les informations utiles à l'aide de formulaire, de pop-up ou de chatbot.&nbsp;</p>
                   </div>
                </div>
            </div>   
            <div class="row left">
                <div class="col_sect col-12 col-md-6">
                   <div class="icon" style="background: url(assets/image/imgpotentiel.png) center center no-repeat;background-size:contain;width:132px;height:132px;"></div>
                   <div class="text">
                      <h3 style="margin-bottom: 25px; color: #040e47;">Détecter les clients potentiels</h3>
                      <p>Identifiez parmi vos visiteurs et vos bases de contacts ceux qui représentent un bon fit pour votre entreprise.</p>
                      <p>Nous vous accompagnons dans l'élaboration d'un scoring qui vous permettra d'investir sur les meilleures probabilités de transformation.</p>
                   </div>
                </div>
            </div>  
            <div class="row right">
                <div class="col_sect col-12 col-md-6">
                   <div class="icon" style="background: url(assets/image/imgconversion.png) center center no-repeat;background-size:contain;width:132px;height:132px;"></div>
                   <div class="text">
                      <h3 style="margin-bottom: 25px; color: #040e47;">Accompagner les prospects dans l'entonnoir de conversion</h3>
                      <p>Tous les prospects ne sont pas prêts à acheter. L'enjeu est d'être Top-of-Mind une fois le projet d'achat arrivé à maturité.&nbsp;</p>
                      <p>Nous vous aidons à construire des scénarios de Lead Nurturing (ou Marketing Automation) pour les guider dans leur processus de décision.</p>
                   </div>
                </div>
            </div>          
            <div class="row left">
                <div class="col_sect col-12 col-md-6">
                   <div class="icon" style="background: url(assets/image/imgaugmentation.png) center center no-repeat;background-size:contain;width:132px;height:132px;"></div>
                   <div class="text">
                      <h3 style="margin-bottom: 25px; color: #040e47;">Augmenter votre taux de closing</h3>
                      <p>Nous vous aidons à détecter les signaux de maturité chez vos clients potentiels.</p>
                      <p>Vous augmentez votre taux de transformation en étant plus réactif et en personnalisant votre approche commerciale avec vos interlocuteurs.</p>
                   </div>
                </div>
            </div>       
            <div class="row right">
                <div class="col_sect col-12 col-md-6">
                   <div class="icon" style="background: url(assets/image/imgfideliser.png) center center no-repeat;background-size:contain;width:132px;height:132px;"></div>
                   <div class="text">
                      <h3 style="margin-bottom: 25px; color: #040e47;">Fidéliser et encourager la prescription</h3>
                      <p>Le bouche-à-oreille demeure le meilleur canal d'acquisition.</p>
                      <p>Nous vous aidons à identifier les clients les plus satisfaits et à les transformer en prescripteurs actifs.</p>
                   </div>
                </div>
            </div>    
        </div>     
    </div>
</div>