// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$legionweb-primary: mat-palette($mat-indigo);
$legionweb-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$legionweb-warn: mat-palette($mat-red);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$legionweb-theme: mat-light-theme(( color: ( primary: $legionweb-primary, accent: $legionweb-accent, warn: $legionweb-warn, )));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($legionweb-theme);

/* You can add global styles to this file, and also import other style files */

$fa-font-path: "../../../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';
@font-face {
    font-family: "Open Sans Regular";
    src: url("assets/polices/Open Sans Regular/Open Sans Regular.ttf") format("truetype");
}

body {
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    color: #0c0456;
    //background-image: linear-gradient(to bottom,  #fff,#f5f5f5);
    background-image: linear-gradient(to bottom, #F9F7F3, #FAFAFD);
    min-height: 100vh;
    font-family: "Open Sans Regular", Helvetica, sans-serif !important;
}

p {
    font-size: 17px;
}

.btn-primary {
    margin-top: 2%;
    margin-bottom: 3px;
    height: 15%;
    background-image: linear-gradient(to right, #0A1F5E, #4D9AD5);
    font-weight: bold;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: #4D9AD5;
    border: solid 3px #F2C270;
    transition: ease-in-out .2s all;
    box-shadow: 3px 8px 10px 0 rgb(0 0 0 / 50%);
}

.trait1 {
    display: flex;
    align-self: start;
    transform: translateY(16px);
    width: 33px;
    height: 4px;
    background: #D8A24A;
    margin-right: 1px;
    //border-radius: 50px;
}

.triangle {
    display: flex;
    align-self: center;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 70px solid #E8D5A6;
    transform: rotate(-90deg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bolder;
}

@media (max-width: 767px) {
    /* CSS mobile ici */
    .mobile {
        position: relative;
        top: -50px;
    }
    .centrer {
        position: relative;
        right: -20%;
    }
    .mobile1 {
        position: relative;
        z-index: 9999;
        top: -65px;
    }
}

.avis {
    background-color: #E8D5A6;
    box-shadow: 0px 3px 6px #a3cff5;
}

.avis:hover {
    transform: scale(1.1);
}

.avis p {
    margin: 0;
    padding: 5%;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}