/* You can add global styles to this file, and also import other style files */

$fa-font-path: "../../../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';
@font-face {
    font-family: "Open Sans Regular";
    src: url("assets/polices/Open Sans Regular/Open Sans Regular.ttf") format("truetype");
}

html {
    overflow-x: hidden;
}

body {
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    color: #0c0456;
    //background-image: linear-gradient(to bottom,  #fff,#f5f5f5);
    background-image: linear-gradient(to bottom, #FAF7F2, #FAF7F2);
    min-width: 100vh;
    font-family: "Open Sans Regular", Helvetica, sans-serif !important;
}

p {
    font-size: 17px;
}

.btn-primary {
    height: 15%;
    background-image: linear-gradient(to right, #0A1F5E, #4D9AD5);
    font-weight: bold;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: #4D9AD5;
    border: solid 3px #F2C270;
    transition: ease-in-out .2s all;
    box-shadow: 3px 8px 10px 0 rgb(0 0 0 / 50%);
}

.trait1 {
    display: flex;
    align-self: start;
    transform: translateY(16px);
    width: 33px;
    height: 4px;
    background: #D8A24A;
    margin-right: 1px;
    //border-radius: 50px;
}

.triangle {
    display: flex;
    align-self: center;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 70px solid #E8D5A6;
    transform: rotate(-90deg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.avis {
    background-color: #E8D5A6;
}

.avis:hover {
    transform: scale(1.1);
}

.avis p {
    margin: 0;
    padding: 5%;
}