<div>
     <!-------banner section-------->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
              <p class="title1">
                 blog de la performance marketing et commerciale
              </p>   
              <!--<p>Subcribe Easy tutorials Youtube to match</p>
              <a href="#"><img src="assets/image/tn_logo1.JPG" class="play-btn">Watch tutorials</a>-->
            
            </div> 
            <div class="col-md-6" text-center>
                  <img src="assets/image/grpe1.png" class="img-fluid imgbanner"/>
            </div>
        
   </div>
   <!--fin banner--> 
    

<div class="avantart">
        <div>
            <h3>Social Récruiting</h3>
            <img src="assets/image/service3.jpg"class="service-img img-responsive">
            <div class="auteurart">
                <img src="assets/image/service3.jpg"class=" articleimg img-responsive img-circle"> 
                <h6>Paule EKAM consultant digital chez legionweb</h6>
            </div>
        </div>
        <div class="listeart">
            <form class="rechercher" method="GET" action="rechercher.php">
                <input type="text" placeholder="Rechercher">
                <button type="submit">Q</button>
            </form>
            <h3>Articles populaires</h3>
            <ul>
                <li>les 6 indicateurs de RH à connaitre  </li>
                <li>5 éléments éfficaces d'un plan marketing </li>
            </ul>
        </div>
</div>
    <!---------voici la liste des articles ca sera remplacé par 
    le composant articles mais pour l'instant c'est statique-->
    <div class="article">      
             <img src="assets/image/service3.jpg"class=" img-responsive ">
        <div class="arttexte">
            <h3>Quelles sont les nouvelles tendances 
                Marketing pour 2021?
            </h3>   
            <p>
                <br>
                Lorem ipsum, dolor sit amet consectetur 
            adipisicing elit. Illo optio, hic ipsum
             asperiores obcaecati tempore dolorem 
             tenetur ullam ad dignissimos rerum, dolor facere 
            earum corrupti atque architecto fugit iste porro.
             <br>
            </p> 
            <div class="auteurart">
                <img src="assets/image/service3.jpg"class=" articleimg img-responsive img-circle"> 
                <h6>Paule EKAM consultant digital chez legionweb</h6>
            </div>
        </div>
    </div>
    <div class="article">
        
        <img src="assets/image/service3.jpg"class="service-img img-responsive">
        <div class="arttexte">
            <h3> WorkFlows: étapes pour réuissirs</h3>
        <p>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing
             elit. Quibusdam pariatur minus, nobis odit fugit 
             cupiditate. Illum ipsam, id mollitia autem animi
              necessitatibus. Accusamus delectus, 
            atque incidunt voluptate dolores placeat? Asperiores.
            <br>
        </p>  
        <div class="auteurart">
            <img src="assets/image/service3.jpg"class=" articleimg img-responsive img-circle"> 
            <h6>Claude AYISSI consultant digital chez legionweb</h6>
        </div>
        </div>
    </div>
    <div class="article">
        <img src="assets/image/service3.jpg"class="service-img img-responsive">
        <div class="arttexte">
            <h3>L'Inbound du marketing au profit des sales</h3>
        <p>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing
             elit. Quibusdam pariatur minus, nobis odit fugit 
             cupiditate. Illum ipsam, id mollitia autem animi
              necessitatibus. Accusamus delectus, 
            atque incidunt voluptate dolores placeat? Asperiores.
            <br>
        </p>
            <div class="auteurart">
                <img src="assets/image/service3.jpg"class=" articleimg img-responsive img-circle"> 
                <h6>Claude AYISSI consultant digital chez legionweb</h6>
            </div>
       </div>
    </div>
</div>
