<!-------banner section-------->
<div class="container">
    <div class="row">
        <div class="col-md-6">
          <p class="title1">
              BEST DIGITAL AGENCY
          </p>   
          <p>Subcribe Easy tutorials Youtube to match</p>
          <a href="#"><!--<img src="assets/image/tn_logo1.JPG" class="play-btn">-->Watch tutorials</a> 
       </div> 
        <div class="col-md-6" text-center>
              <img src="assets/image/banner.jpg" class="img-fluid imgbanner"/>
        </div>
    
    </div> 
   </div>
   <!--<img src="assets/image/" class="bottom-img"/>-->