<div class="container-fluid">
    <div style="display:flex;">
        <div class="trait1">
        </div>
        <h3>Discuter avec Claude de votre plan <br> pour développer votre business</h3>
        <br><br>
    </div>
    <div class="row">
        <div class="col-md-6 contimgclaude">
            <br><br>
            <div class="container-fluid d-md-none">
                <div class="row flex-column">
                    <div class="col-6">
                        <img src="assets/image/imgclauded.jpeg" class="img-fluid img-responsive imgclaude" />
                    </div>
                    <div class="col-6">
                        <!--<div class="triangle"></div>-->
                        <div class="avis">
                            <p>
                                <q>
                                    <em>
                                        En tant que fondateur de LegionWeb,
                                        j'ai aidé des entreprises en forte
                                        croissance à identifier et saisir
                                        les opportunités de leur marché...
                                        <br>
                                        <br>
                                        <b>Et j'adore partager mon Expérience!</b>
                                    </em>
                                </q>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-md-block">
                <img src="assets/image/imgclauded.jpeg" class="img-fluid img-responsive imgclaude" />
            </div>
        </div>
        <div class="col-md-6">
            <h4>Prenons rendez-vous dès maintenant</h4>
            <br>
            <p>Juste une discussion en toute détente pour comprendre votre situation et voir si nous pouvons vous aider !
            </p>
            <div style="display:flex;">
                <img src="assets/image/calandar.png" class="img-fluid img-responsive imgcalandar" />
                <div>
                    <p style="margin:0;">
                        <br> Prenez rendez-vous directement dans l'agenda en cliquant sur le bouton ci-dessous.
                    </p>
                    <br>
                    <button (click)="redirect('contact')" type="button" class="centrer btn btn-primary"> DISCUTER AVEC CLAUDE </button>
                </div>
            </div>
            <br>
            <br>
            <div class="d-none d-sm-block " style="display:flex; padding:30px; justify-content: space-around;">
                <div class="triangle"></div>
                <div class="avis">
                    <p>
                        <q>
                            <em>
                                En tant que fondateur de LegionWeb,
                                j'ai aidé des entreprises en forte
                                croissance à identifier et saisir
                                les opportunités de leur marché...
                                <br>
                                <br>
                                <b>Et j'adore partager mon Expérience!</b>
                            </em>
                        </q>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>