<div class="container-fluid">
    <div style="display:flex;">
        <div class="trait1">
        </div>
        <h3>Discuter avec Claude de votre plan <br> pour développer votre business</h3>
        <br><br>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="assets/image/imgclaude.png" class="img-fluid img-responsive imgbanner" />
        </div>
        <div class="col-md-6">
            <h4>Prenons rendez-vous dès maintenant</h4>

            <p>juste unde discussion en toute détente pour comprendre votre situation et voir si nous pouvons vous aider !
            </p>
            <div>
                <p><i class="far fa-calendar-alt"></i></p>
                <p>
                    Prenez rendez-vous directement dans l'agenda en cliquant sur le bouton ci-dessous.
                </p>
                <button type="button" class="btn btn-primary"> DISCUTER AVEC CLAUDE </button>
            </div>
            <br>
            <br>
            <br>
            <q>En tant que fondateur de LegionWeb,
                    j'ai aidé des entreprises en forte
                    croissance à identifier et saisir
                    les opportunités de leur marché...
                    <br>
                    <br>
                    <b>Et j'adore partager mon Epérience!</b>
                </q>
        </div>
    </div>
</div>