<div class="succes">
    <div>
        <img src="assets/image/logo4.png">
    </div>
    <hr style="margin:0; padding:0;">
    <div>
        <div style="display:flex; justify-content: space-between;">
            <div>
                <div style="display:flex; justify-content: space-around;">
                    <i class="fas fa-arrow-up"></i>
                </div>

                <br> Session sur le blog
            </div>
            <div>
                <div style="display:flex; justify-content: space-around;">
                    <p><i class="fas fa-arrow-up"></i></p>
                    <img src="assets/image/fleche.png"> x300
                </div>
                <br> Nouveaux contacts
            </div>
        </div>
        <p>
            L'inbound recruiting pour attirer les talents et mettre en avant la marque employeur
        </p>
    </div>
</div>