<div id="section1d">
    <div class="">
        <h1>Un Pilotage Éclairé</h1>
        <div>
            <div><img src="assets/image/trait.png" alt="trait.png" /></div>
            <p>
               Objectif de la phase : Piloter votre stratégie avec les bonnes <br>
               données, les bons outils et les bonnes compétences.
            </p>
        </div>
        <p> 
           CRM - Tableau de bord - Business Intelligence - Recrutement - <br>
           Marque employeur
        </p> 
        <button type="button" class=""> Commencez maintenant</button>
    </div>
    <div class="">
        <img src="assets/image/imageatlantic.png" alt="imageatlantic.png" />
    </div>
</div>
<div id="section2d">
    <div id="">
        <div class="">
            <img src="assets/image/imageatlantic.png" alt="imageatlantic.png" />
        </div>
        <div class="">
            <div>
                <div><img src="assets/image/trait.png" alt="trait.png" /></div>
               <h2>Construire votre Tableau de Bord</h2>
            </div>
            <h3>Les chiffres ne mentent jamais.</h3>
            <p> 
               Un tableau de bord est indispensable pour les entreprises qui souhaitent <br>
               passer un cap. Il garantit votre capacité à rester flexible et à adapter votre <br>
               stratégie à tout moment.
            </p> 
            <p>
               Nous vous accompagnons dans la définition d'objectifs SMART (Spécifiques, <br>
               Mesurables, Atteignables, Réalistes et Temporels) qui vous permettront de <br>
               prioriser vos actions et de programmer votre croissance de façon réaliste.
            </p>
            <p>
               Nous vous aidons à suivre les bons KPIs et à automatiser votre reporting. <br>
               Un reporting efficace est transversale, automatisé et régulier <br>
               (hebdomadaire, mensuel, trimestriel, etc.).
            </p>
        </div>
    </div>
    <div id="">
        <div class="">
            <div>
                <div><img src="assets/image/trait.png" alt="trait.png" /></div>
                <h2>Se doter d'un CRM</h2>    
            </div>
            <h3>La donnée est le lien entre votre prospect et votre organisation.</h3>
            <p> 
                Garder une trace de l'ensemble des interactions avec vos <br>
                visiteurs, vos prospects et vos clients au sein d'un CRM. Vous pourrez ainsi mieux <br>
                comprendre leurs besoins, identifier des signaux d'achat grâce à leur <br>
                comportement sur votre site, et engager la conversation au bon moment <br>                    pour optimiser vos chances..
            </p> 
            <h3>Vos prospects et clients détestent avoir à se répéter.</h3>
            <p>
                Optimiser la collaboration des équipes Sales, Marketing et Support en <br>
                centralisant l'information sur une plateforme unique. Fournissez à vos <br>
                équipes les données nécessaires pour être pertinent et utile à tout <br>
                moment.
            </p>
        </div>
        <div class="">
            <img src="assets/image/imageatlantic.png" alt="imageatlantic.png" />
        </div>
    </div>
    <div id="">
        <div class="">
            <img src="assets/image/imageatlantic.png" alt="imageatlantic.png" />
        </div>
        <div class="">
            <div>
                <div><img src="assets/image/trait.png" alt="trait.png" /></div>
                <h2>Recruter et former vos équipes</h2>
            </div>
            <h3>Des difficultés à recruter les talents ? Besoin d'ajouter des compétences au <br>
                sein de vos équipes ?
            </h3>
            <p> 
               Beaucoup de recruteurs font le même constat : il devient de plus <br>
               en plus difficile de recruter les talents. D'une part les candidats qualifiés se font <br>
               rares et augmentent leurs exigences, d'autres parts les compétences <br>
               deviennent obsolètes plus rapidement.
            </p> 
            <h3>Développer votre marque employeur</h3>
            <p>
               Pour gagner la guerre des talents, savoir comment recruter de manière <br>
               innovante est indispensable !
            </p>
            <h3>Formez les collaborateurs en continu</h3>
            <p>
               Tirez le meilleur des outils que vous adoptez et conservez l'autonomie de <br>
               vos équipes grâce à la formation. Nos experts transmettent les bonnes <br>
               pratiques et les tips qui vous permettent d'utiliser vos outils au maximum <br>
               de leurs capacités.
            </p>
        </div>
    </div>
</div>
