<div id="section1d">
    <div class="container">
        <div id="pilot">
            <h1>Un Pilotage Éclairé</h1>
            <div>
                <div class="trait4"></div>
                <p id="text_pilot" class="para_pilot">
                   <span class="objet_pilot">Objectif de la phase</span> : Piloter votre stratégie avec les bonnes <br>
                   données, les bons outils et les bonnes compétences.
                </p>
            </div>
            <p> 
               CRM - Tableau de bord - Business Intelligence - Recrutement - <br>
               Marque employeur
            </p> 
            <a href="#" title="COMMENCEZ MAINTENANT">
                <button type="button" class="button_com">Commencez maintenant</button>
            </a>
        </div>
        <div id="img_pilot">
            <img src="assets/image/imageatlantic.png" alt="imageatlantic.png" />
        </div>
        <div id="trait_m"></div>
    </div>
</div>

<div id="section2d">
    <div class="container">
        <div class="imgpilot1">
            <img src="assets/image/imageatlantic.png" alt="imageatlantic.png" />
        </div>
        <div class="pilotage1">
            <div>
                <div class="trait4d"></div>
                <h2>Construire votre Tableau de Bord</h2>
            </div>
            <p class="lexique_pilot">Les chiffres ne mentent jamais.</p>
            <p> 
                Un tableau de bord est indispensable pour les entreprises qui souhaitent <br>
                passer un cap. Il garantit votre capacité à rester flexible et à adapter votre <br>
                stratégie à tout moment.
            </p> 
            <p>
                Nous vous accompagnons dans la définition d'objectifs SMART (Spécifiques, <br>
                Mesurables, Atteignables, Réalistes et Temporels) qui vous permettront de <br>
                prioriser vos actions et de programmer votre croissance de façon réaliste.
            </p>
            <p>
                Nous vous aidons à suivre les bons KPIs et à automatiser votre reporting. <br>
                Un reporting efficace est transversale, automatisé et régulier <br>
                (hebdomadaire, mensuel, trimestriel, etc.).
            </p>
        </div>
    </div>
</div>

<div id="section3d">
    <div class="container">
        <div class="pilotage2">
            <div>
                <div class="trait4d"></div>
                <h2>Se doter d'un CRM</h2>    
            </div>
            <p class="lexique_pilot">La donnée est le lien entre votre prospect et votre organisation.</p>
            <p> 
                Garder une trace de l'ensemble des interactions avec vos <br>
                visiteurs, vos prospects et vos clients au sein d'un CRM. Vous pourrez ainsi mieux <br>
                comprendre leurs besoins, identifier des signaux d'achat grâce à leur <br>
                comportement sur votre site, et engager la conversation au bon moment <br>                    pour optimiser vos chances..
            </p> 
            <p class="lexique_pilot">Vos prospects et clients détestent avoir à se répéter.</p>
            <p>
                Optimiser la collaboration des équipes Sales, Marketing et Support en <br>
                centralisant l'information sur une plateforme unique. Fournissez à vos <br>
                équipes les données nécessaires pour être pertinent et utile à tout <br>
                moment.
            </p>
        </div>
        <div class="imgpilot2">
            <img src="assets/image/imageatlantic.png" alt="imageatlantic.png" />
        </div>
    </div>
</div>

<div id="section4d">
    <div class="container">
        <div class="imgpilot3">
            <img src="assets/image/imageatlantic.png" alt="imageatlantic.png" />
        </div>
        <div class="pilotage3">
            <div>
                <div class="trait4d"></div>
                <h2>Recruter et former vos équipes</h2>
            </div>
            <p class="lexique_pilot">
                Des difficultés à recruter les talents ? Besoin d'ajouter des compétences au <br>
                sein de vos équipes ?
            </p>
            <p> 
                Beaucoup de recruteurs font le même constat : il devient de plus <br>
                en plus difficile de recruter les talents. D'une part les candidats qualifiés se font <br>
                rares et augmentent leurs exigences, d'autres parts les compétences <br>
                deviennent obsolètes plus rapidement.
            </p> 
            <p class="lexique_pilot">Développer votre marque employeur</p>
            <p>
                Pour gagner la guerre des talents, savoir comment recruter de manière <br>
                innovante est indispensable !
            </p>
            <p class="lexique_pilot">Formez les collaborateurs en continu</p>
            <p>
                Tirez le meilleur des outils que vous adoptez et conservez l'autonomie de <br>
                vos équipes grâce à la formation. Nos experts transmettent les bonnes <br>
                pratiques et les tips qui vous permettent d'utiliser vos outils au maximum <br>
                de leurs capacités.
            </p>
        </div>
    </div>
</div>
