<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <title>Social media</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="style.css"> 
    </head>

    <body> -->
        <div class="body">
        <div id="all">
            <div class="section1_social">
                <div class="container">
                </div>
            </div>

            <div class="section2_social">
                <div class="container">
                    <div class="btn">
                        <button type="button" [routerLink]="['/blog']" class="btn btn-title3">Retour au blog</button>
                    </div>
                    <div class="cont_article3">
                        <div class="lien3">
                            <a [routerLink]="['/socialmedia']">Social media</a>
                        </div>
                        <h1>Pourquoi avoir une stratégie social media  pour votre entreprise ?</h1>
                        <div class="desc_ceo3">
                            <div class="img_ceo3">
                                <img src="assets/image/imgclaude1.jpeg" alt="imgclaude1.jpeg">
                            </div>
                            <div class="nom_ceo3">Claude AYISSI CEO et Fondateur chez LegionWeb</div>
                        </div>
                        <div class="text_art3">
                            <div>
                                <p>
                                    De nos jours, l'usage des réseaux sociaux est idéal pour la communication de votre entreprise. Ces supports permettent d'être au
                                    plus proche des candidats, et comportent de ce fait de nombreux avantages pour optimiser l'image d'une société.  
                                </p>
                                <p>
                                    Votre marque employeur se doit d'être visible par le plus de gens possible.
                                    C'est dans ce but que l'inbound recruiting  mixe l'approche  inbound marketing et les besoins RH.
                                </p>
                            </div>
                            <div>
                                <h2>Pourquoi s'intéresser au social media  ?</h2>
                                <p>
                                    Bien que toutes les entreprises ne disposent pas d'une présence sur les réseaux sociaux,
                                    beaucoup affirment en comprendre les enjeux. En effet, il s'agit de plateformes d'échanges
                                    pour les internautes, et les marques font partie des nombreux sujets abordés par ces derniers,
                                    que ce soit pour donner un avis, positif ou négatif, ou encore émettre un retour d'expérience,
                                    partager des informations... Les réseaux sociaux permettent d’étoffer sa stratégie digitale quel
                                    que soit son domaine, ils occupent une place importante dans le webmarketing.
                                </p>
                                <p>
                                    En matière de communication, il s'agit donc d'un terrain intéressant à exploiter,
                                    qui peut vous permettre d'optimiser l'image de votre entreprise directement auprès de vos talents cibles.
                                </p>
                                <p>
                                    Dans un monde ultra digitalisé, la stratégie réseaux sociaux est primordiale !
                                    Mais la formation des recruteurs n'est malheureusement pas actualisée dans ce sens.
                                    Une stratégie marketing RH est trop peu (ou mal) utilisée ce qui nuit à la performance
                                    du pôle RH à tous les niveaux (attirer les bons candidats, les faire convertir par le dépôt du CV,
                                    la fidélisation des salariés pour en faire des ambassadeurs).
                                </p>
                            </div>
                            <div>
                                <h2>Quels sont les avantages ?</h2>
                                <p>
                                    Investir les réseaux sociaux peut vous offrir de nombreuses possibilités et venir appuyer votre
                                    stratégie de communication globale ou digitale. Par ce biais, vous pouvez notamment :
                                </p>
                            </div>
                            <div>
                                <p>
                                    <span class="lex_art3">Augmenter la visibilité de votre entreprise</span><br>
                                    En diversifiant la présence de votre entreprise, ici sur les réseaux sociaux,
                                    vous augmentez de fait sa visibilité générale et sa notoriété. Il sera plus simple pour
                                    d'éventuels candidats de vous trouver sur Internet, et vos pages ou comptes professionnels
                                    peuvent permettre à votre société d'optimiser son référencement naturel sur les moteurs de recherche
                                    par rapport à vos concurrents, et ainsi d’attirer plus de trafic vers votre site internet.
                                </p>
                            </div>
                            <div>
                                <p>
                                    <span class="lex_art3">Aller à la rencontre de vos candidats</span><br>
                                    Les réseaux sociaux ont pour vocation d'instaurer le dialogue entre différents membres de communautés.
                                    Ils constituent une fenêtre pouvant vous permettre de communiquer directement avec vos candidats, de
                                    répondre à leurs questions ou encore de les informer sur vos nouveautés. Vous pouvez également avoir
                                    des retours directs sur vos publications, voire vos campagnes de communication via les commentaires des
                                    internautes ou via l'engagement, soit le nombre d'interactions (des partages, des "Like" sur Facebook ou LinkedIn,
                                    ou encore des "favoris" sur Twitter...) qu'elles suscitent, et ainsi comprendre mieux qui est votre cible et
                                    comment l'atteindre efficacement, notamment en mettant en place une stratégie de content marketing pour leur
                                    proposer des contenus pertinents (des articles de blog, des vidéos ou des guides à télécharger par exemple).
                                </p>
                            </div>
                            <div>
                                <p>
                                    <span class="lex_art3">Fidéliser plus facilement vos talents</span><br>
                                    La fidélisation des talents se traduit par une relation durable de confiance avec vos candidats,
                                    qui seront ainsi amenés à se tourner naturellement vers votre entreprise en cas de besoin.
                                    En instaurant le dialogue avec eux sur les réseaux sociaux ou en renvoyant de façon permanente une
                                    image attractive et donc adaptée à votre cible, vous pouvez contribuer à cette fidélisation.
                                </p>
                            </div>
                            <div>
                                <p>
                                    <span class="lex_art3">Anticiper une communication de crise</span><br>
                                    La communication est d'autant plus importante en situation de crise :
                                    en étant présent sur les réseaux sociaux, vous pouvez facilement observer des débuts de problèmes,
                                    comme par exemple un "bad buzz", et rectifier le tir. Il convient néanmoins pour ce faire d'avoir
                                    une bonne connaissance des outils mis à votre disposition et des comportements jugés inadéquats
                                    (par exemple, si les internautes considèrent qu'une erreur a été faite, présenter des excuses sera
                                    mieux perçu que chercher une justification quelconque).
                                </p>
                            </div>
                            <div>
                                <p>
                                    <span class="lex_art3">Trouver de nouveaux collaborateurs</span><br>
                                    En investissant dans des réseaux sociaux d'entreprise, vous pouvez rencontrer de nouveaux collaborateurs
                                    intéressés par votre activité et par l'esprit de votre société, qui seront attirés par votre image de marque
                                    et votre e-réputation. Vous pourrez également avoir une première vision de leur parcours et de leurs projets
                                    et cibler plus facilement les profils intéressants.
                                </p>
                            </div>
                            <div>
                                <h2>Quels peuvent être les risques</h2>
                                <p>
                                    Il est important de savoir tirer profit des réseaux sociaux pour bénéficier des nombreux avantages évoqués ou non plus haut.
                                    Leur utilisation demande une certaine expertise dans ce domaine, nous l'évoquions déjà dans notre article sur
                                    la mise en place d'une stratégie réseaux sociaux 
                                </p>
                                <p>
                                    Si une présence sur les plateformes sociales ne peut en théorie vous être que positive, comme pour tout support,
                                    une mauvaise communication sur les réseaux sociaux pourrait nuire à votre entreprise. Il est préférable de faire
                                    appel à un professionnel, plus apte à comprendre les mécanismes de communication utilisés sur ces supports.
                                </p>
                                <p>Vous souhaitez utiliser les réseaux sociaux pour votre entreprise mais vous ne savez pas comment vous y prendre ?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>            
    <!-- </body>
</html> -->