<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <title>Transformation Digitam</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="style.css"> 
    </head>

    <body> -->
        <div class="body">
        <div id="all">
            <div class="section1_transformation">
                <div class="container">
                </div>
            </div>

            <div class="section2_transformation">
                <div class="container">
                    <div class="btn">
                        <button type="button" [routerLink]="['/blog']" class="btn btn-title6">Retour au blog</button>
                    </div>
                    <div class="cont_article6">
                        <div class="lien6">
                            <a [routerLink]="['/transformation']">Transformation Digital</a>
                        </div>
                        <h1>La transformation digitale </h1>
                        <h2>Qu’est-ce que la transformation digitale?</h2>
                        <div class="desc_ceo6">
                            <div class="img_ceo6">
                                <img src="assets/image/imgclaude1.jpeg" alt="imgclaude1.jpeg">
                            </div>
                            <div class="nom_ceo6">Claude AYISSI CEO et Fondateur chez LegionWeb</div>
                        </div>
                        <div class="text_art6">
                            <p>
                                Depuis peu le sujet de la transformation numérique est l'une des
                                principales préoccupations des entreprises. Il ne se passe pas une journée
                                ou presque sans que ce terme ne soit mentionné ou utilisé dans un article de
                                presse ou par un blog. Par exemple si vous tapez le mots transformation digitale
                                sur le site des Échos, vous verrez que le nombre d'articles traitant de ce sujet est tout simplement vertigineux. 
                            </p>
                            <p>Alors pourquoi parle on autant de transformation digitale et contrairement qu'est-ce que c'est ?</p>
                            <p>
                                Contrairement à  une idée reçue, la transformation digitale ne concerne pas tant les outils,
                                que les hommes, en effet la transformation digitale ne doit pas se confondre avec la digitalisation.  
                            </p>
                            <div>
                                <h2>Transformation digitale # Digitalisation</h2>
                                <p>
                                    Si par exemple vous imprimez des papiers, des documents de travail,
                                    des comptes rendus des réunions, des notes et que vous stocker tout ses
                                    documents et qu'ensuite votre entreprise se décide à passée dans des 
                                    solutions de numérisation des documents et bien vous aurez digitalisé
                                    votre méthode de travail et de process.<br>
                                    Mais la transformation digitale ne se réduit pas seulement aux outils, elle concerne les hommes,
                                    elle concerne les entreprises, les organisations , leurs habitudes, leurs modes de fonctionnements
                                    et finalement toute les pratiques managériales, le rapport à la hiérarchie par exemple , et même la culture d'entreprise. 
                                </p>
                                <p>
                                    En fait la transformation digitale est un sujet plus sociologique que technologique.
                                    C'est pourquoi la transformation digitale touche tous les métiers sans exception de
                                    DRH à la finance, en passant par la gestion de projet ou marketing.<br>
                                    En fait, le digitale nous oblige à transformé nos mode de travail, nos mode de pensée et nos pratiques
                                    business c'est ce qui explique que certains analystes parlent d'une nouvelle révolution industrielle.
                                    Alors essayons d'aller un peu plus loin, les premières entreprises a se lancer dans le digital,
                                    l'on fait au courant des années 90 s' en créant des sites web d'entreprise et en digitalisant leurs process .  
                                </p>
                                <p>
                                    Prenons le 1er cas , celui des  sites web pour les entreprises, le digital était avant tout un canal de communication un peu différent. 
                                    Avant un site web permettait d'être présent sur un nouveau média qui commençait à émerger. En fait le web restait un petit canal de
                                    trafic peu fréquenté, peu connu et sans réelle valeur ajoutée à quelques exceptions près.<br>
                                    Avoir un site web c'était être présent sur un nouveau média, en fait, le web est devenu un
                                    véritable canal de distribution au début des années 2000 . 
                                </p>
                                <p>
                                    L'autre étape au tout début à été la digitalisation des processus de nombreuses entreprises ont en
                                    effet souhaités digitalisé un certain nombre de fonctions support comme des outils de gestion par exemple et
                                    qui ont été développés par des SSII : Société de Services Informatique. Le déploiement des ces gros logiciels de gestion
                                    back office ont souvent été le premier contact digital des collaborateurs d'entreprise.<br>
                                    Ce premier contact ne s'est pas toujours bien fait. C'est ce qui explique pourquoi le digital est
                                    souvent perçu comme quelque chose d'obscur plus tôt qu'un vecteur d'opportunités c'est très récemment que le
                                    digital est devenu autre chose qu'avoir un site web et un logiciel de gestion de fournisseur .. 
                                </p>
                                <div>
                                    <p>
                                        On peut<br>
                                        daté cette révolution de l'arrivée des premiers géants du web, pour la première fois des jeunes entreprises,
                                        des startups,qui avaient été créée avec très peu de moyens sont arrivés à s'emparer d'un marché ou a créer un
                                        nouveau marché on peut par exemple citer : Microsoft ,Appel ,Google, Oracle , UBER ,LinkedIn, Facebook,
                                        C’est quand le digital à commencer a toucher les entreprises sur leur marché , leur portefeuille que le digital est devenu stratégique.  
                                    </p>
                                    <p>
                                        En 16 ans nos usages ont profondément changé. Le taux d'équipement informatiques à  augmenté de manière exponentielle,
                                        le taux d'équipement moyens en Smartphone, Ordinateur, Tablette, continue d'augmenter chaque année.<br>
                                        Autre aspect les réseaux sociaux, les réseaux sociaux ont fait leurs apparitions et le temps que nous passons
                                        aujourd'hui sur le web à déjà dépassé celui que nous à  regarder la Télévision.  
                                    </p>
                                    <p>
                                        Logiquement les entreprises ont suivi les usages des individus En fait, les entreprises sont obligés d'aller là où les clients les attentes. 
                                    </p>
                                    <p>
                                        Mais le soucis c'est que cette transformation des usages c'est fait extrêmement
                                        rapidement que les entreprises n'ont pas forcément anticipés cette révolution ou évolution
                                    </p>
                                    <p>
                                        Prenons l'exemple de Airbnb créé en 2008 qui propose aujourd'hui plus de chambre disponible dans le monde
                                        qu'ACCOR qui est le leader mondiale de l'hôtellerie et qui s'est constitué en plus de 50ans. On le voit à grâce la
                                        Force des réseaux sociaux, grâce au web Ces jeunes entreprises ont identifié les traino et bouleverse notre économie.
                                        C'est parce que il y'a un peu urgence que l'on parle autant de transformation digitale et c'est parce que nombre
                                        d'entreprises vont devoir se réinventer, que tout le monde se préoccupe du sujet. 
                                    </p>
                                    <p>
                                        La transformation digitale de manière beaucoup plus précise, concerne tout les aspects de l'entreprise à commencer par les modèles économiques.
                                    </p>
                                    <p>
                                        Avec le digital, les modèles dit freemium ce sont développées.<br>
                                        Un modèle Freemium consiste à proposer un service gratuitement, puis progressivement à le faire payer en fonction du nombre
                                        d'utilisateurs et de l'usage qui en est fait. Dont on bascule d'un modèle d'achat à un modèle de location.
                                        le secteur des logiciels étant l'exemple parfait de se bouleversement . 
                                    </p>
                                    <p>
                                        Le digital transforme aussi la distribution et la commercialisation des produits et des services.
                                        il est beaucoup plus facile de contourner les intermédiaires classiques d'un marché, les touchés directement via le web .
                                        le secteur des média est exemple parfait de cette tendance sur le web , tout le monde peut créer du contenu, tout le monde peut publier,
                                        le partager et donc le marché est complètement désintermédié. 
                                    </p>
                                    <p>
                                        On le voit cette révolution digitale est bien plus profonde qu'une simple transformation d'un métier ou d'un process  
                                        tout les secteurs, tout les métiers sont concernés.                                            
                                    </p>
                                    <p>
                                        La transformation digitale est avant tout un enjeu culturel , bien plus qu'un enjeu d'outils,
                                        elle implique de repenser son mode de travail, de réfléchir à de nouveaux modèles économiques et 
                                        de ce point de vue c'est une problématique de conduite du changement. Merci beaucoup de votre attention 
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    <!-- </body>
</html> -->